---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510484394'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MmEzY2Q1YjljOTM0N2RiZTQxZWY1MDExMGI1MTkwNjY1YjI3NDljMzQyM2Y2NGQ5MzAyMjdjZGQyNmMzODcwNw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816904","name":"my project","modified":"2017-11-12
        10:59:31","created":"2017-11-12 10:59:31","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P816904-a1485d809c2a50e4138392efc34eee7a","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"799895","name":"My
        first C# project","modified":"2017-11-10 13:51:31","created":"2017-11-04 23:02:19","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P799895-853c8c787799c4642c9c8b5181581a69","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2402","sref":"refs\/heads\/master","slean":"5f238a5727c77f7b75fb24370c07f99fbcf521fe","sleancloud":"fe358c1589e9ea11d5f9828f7e67120c987111ae","sdescription":"Merge
        pull request #1298 from andrewhart098\/aggregating-consolidators<br\/>TickAggregator","sname":"master","bpublic":"1","itimestamp":"2017-11-10
        22:31:04"}],"success":true}'
  recorded_at: Sun, 12 Nov 2017 10:59:55 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=816904
    headers:
      Timestamp:
      - '1510484395'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NTVlOTQ4OThiMThjYjZjNzRhNzQwZmM5ZDc1ZTI3Yzc1NjNkMzUwYWJhNzM2MDI2MTM0YjJjMWJiMzU3OTFmOA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sun, 12 Nov 2017 10:59:55 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1510484395'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NTVlOTQ4OThiMThjYjZjNzRhNzQwZmM5ZDc1ZTI3Yzc1NjNkMzUwYWJhNzM2MDI2MTM0YjJjMWJiMzU3OTFmOA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816905","name":"my project","created":"2017-11-12
        10:59:56","modified":"2017-11-12 10:59:56"}],"success":true}'
  recorded_at: Sun, 12 Nov 2017 10:59:57 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510484397'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YzJhOWNkZDdlYTVmMGVmYmY3NThmNTllOWZmNjg3NTM3MzM1Y2FkYWQ1OWJlZTlmOWIyZmRiMTU3MjlmMDg4ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sun, 12 Nov 2017 10:59:58 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=816905&name=BasicAlgo.cs&content=namespace+QuantConnect%0A%7B%0A++++%2F*%0A++++*+++Basic+Template+Algorithm%0A++++*%0A++++*+++The+underlying+QCAlgorithm+class+has+many+methods+which+enable+you+to+use+QuantConnect.%0A++++*+++We+have+explained+some+of+these+here%2C+but+the+full+base+class+can+be+found+at%3A%0A++++*+++https%3A%2F%2Fgithub.com%2FQuantConnect%2[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=816905&name=BasicAlgo.cs&content=namespace+QuantConnect%0A%7B%0A++++%2F*%0A++++*+++Basic+Template+Algorithm%0A++++*%0A++++*+++The+underlying+QCAlgorithm+class+has+many+methods+which+enable+you+to+use+QuantConnect.%0A++++*+++We+have+explained+some+of+these+here%2C+but+the+full+base+class+can+be+found+at%3A%0A++++*+++https%3A%2F%2Fgithub.com%2FQuantConnect%2[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/compile/create
    body:
      encoding: UTF-8
      string: projectId=816905
    headers:
      Timestamp:
      - '1510484401'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6Y2MwM2E3NjFkM2RmYzZhMWEwNjBhMzcwMTQ1NzIwMjNmYTFhOTY4ZTE4NTJkNzAzOTYwMGIwNzY0ZTU0NTAzYw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"compileId":"6675cf714b4b19412e9df9a1daadcf75-dc68bfd0e7cbe7b7633a21ced301def5","state":"InQueue","success":true}'
  recorded_at: Sun, 12 Nov 2017 11:00:01 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/compile/read?compileId=6675cf714b4b19412e9df9a1daadcf75-dc68bfd0e7cbe7b7633a21ced301def5&projectId=816905
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510484401'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6Y2MwM2E3NjFkM2RmYzZhMWEwNjBhMzcwMTQ1NzIwMjNmYTFhOTY4ZTE4NTJkNzAzOTYwMGIwNzY0ZTU0NTAzYw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"compileId":"6675cf714b4b19412e9df9a1daadcf75-dc68bfd0e7cbe7b7633a21ced301def5","state":"BuildSuccess","logs":["Build
        Request Successful for Project ID: 816905, with CompileID: 6675cf714b4b19412e9df9a1daadcf75-dc68bfd0e7cbe7b7633a21ced301def5,
        Lean Version: 2.4.0.1.2402"],"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:00:02 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/backtests/create
    body:
      encoding: UTF-8
      string: projectId=816905&compileId=6675cf714b4b19412e9df9a1daadcf75-dc68bfd0e7cbe7b7633a21ced301def5&backtestName=backtest-6675cf714b4b19412e9df9a1daadcf75-dc68bfd0e7cbe7b7633a21ced301def5
    headers:
      Timestamp:
      - '1510484402'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6OGZjOWZhMTgzMWNhYzIyMmQxZTY0ZjE0OTdmN2JjNTA2ZWEwNTkzOGUyZjcyYjRmMjc5YTlmNmFiZjg1MmRjNw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"backtestId":"44ec9855a42a5240d59ef46358207def","name":"backtest-6675cf714b4b19412e9df9a1daadcf75-dc68bfd0e7cbe7b7633a21ced301def5","completed":false,"progress":0,"result":null,"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:00:04 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/backtests/read?compileId=44ec9855a42a5240d59ef46358207def&projectId=816905
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510484404'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MWQxOWZkN2U3NDcyMGY3NGY5OTU2ZmUwN2EwZWU5MzRkZjg2YTZjNjc5Mjk1YWZmYjI5NTQzYmJiY2M4MjU5Ng==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"backtests":[{"backtestId":"44ec9855a42a5240d59ef46358207def","name":"backtest-6675cf714b4b19412e9df9a1daadcf75-dc68bfd0e7cbe7b7633a21ced301def5","note":null,"completed":false,"progress":"0","result":null}],"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:00:05 GMT
[...]
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/backtests/read?compileId=44ec9855a42a5240d59ef46358207def&projectId=816905
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510484414'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NTlmYWUyZjBiZDhhMjk4OTA2MzkxYmM4NTJiMTEwNDhmYTc0OTIwNjYwNTE3MThhMjdkNjI0NzdiM2U0ODAyNA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"backtests":[{"backtestId":"44ec9855a42a5240d59ef46358207def","name":"backtest-6675cf714b4b19412e9df9a1daadcf75-dc68bfd0e7cbe7b7633a21ced301def5","note":null,"completed":true,"progress":"0.06","result":null}],"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:00:15 GMT
recorded_with: VCR 3.0.3
