---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510484497'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NjIyMTQyZGRlODI0MGUyMTAwOGUxMWU5MjAzMTcxZjRjMzBjN2YzMjAxNzFhOGQwM2ZhOTUwMDFhNTVkYWE0NA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816914","name":"my project","modified":"2017-11-12
        11:01:37","created":"2017-11-12 11:01:30","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P816914-fa75917b0e9abcd310fea131b89125ba","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"799895","name":"My
        first C# project","modified":"2017-11-10 13:51:31","created":"2017-11-04 23:02:19","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P799895-853c8c787799c4642c9c8b5181581a69","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2402","sref":"refs\/heads\/master","slean":"5f238a5727c77f7b75fb24370c07f99fbcf521fe","sleancloud":"fe358c1589e9ea11d5f9828f7e67120c987111ae","sdescription":"Merge
        pull request #1298 from andrewhart098\/aggregating-consolidators<br\/>TickAggregator","sname":"master","bpublic":"1","itimestamp":"2017-11-10
        22:31:04"}],"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:01:39 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=816914
    headers:
      Timestamp:
      - '1510484499'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MDBhNjE1OGVjMzUzMjZlN2YzMzhjODY3MDZjN2RmNDljNmU3ZDYwYWE0MDIxZjUzOGRkMDE0NDAyYTJiNjY0Zg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:01:39 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1510484499'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MDBhNjE1OGVjMzUzMjZlN2YzMzhjODY3MDZjN2RmNDljNmU3ZDYwYWE0MDIxZjUzOGRkMDE0NDAyYTJiNjY0Zg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816915","name":"my project","created":"2017-11-12
        11:01:40","modified":"2017-11-12 11:01:40"}],"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:01:41 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510484501'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6OGFhNmZlOWVkMDhhOGZmMDhmZDgzOGIyNjUyMzFjNTljNTQ2NzQyNThkNGQ0NDViMjJlYzFlMWUzZTljNmY3Mw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:01:42 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=816915&name=file_1.cs&content=file+1+contents...%0A
    headers:
      Timestamp:
      - '1510484502'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YzVkODcyMWEyN2QxMDgxYzM3Yzg3OWZmNGFjM2RiZGNiNDJkNzAxNGU0MjM1NGM1YjVkNzIyMzJlZDQ2NTQ5Yg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["File not found ''name''=file_1.cs"],"success":false}'
  recorded_at: Sun, 12 Nov 2017 11:01:43 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=816915&name=file_1.cs&content=file+1+contents...%0A
    headers:
      Timestamp:
      - '1510484503'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MTA0MzYwMTYwZDU3YTgxMjgyNmUyN2E3OWU5NDk5YWU1YWM1Y2NkOTA4M2I2YTdkNGI4ZGMyNTY0NGUyZjVkNA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_1.cs","content":"file 1 contents...","modified":"2017-11-12
        11:01:45"}],"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:01:45 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/read
    body:
      encoding: UTF-8
      string: projectId=816915&name=file_1.cs
    headers:
      Timestamp:
      - '1510484507'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MWMzOWE3NDMwNDgyMTJlNDNkODM3ZDYxYmVmNTJjNjZmN2NkZTVhMjI3ZDc4MThjZDQzYzk4MjI3NzNlNDA3OQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_1.cs","content":"file 1 contents...","modified":"2017-11-12
        11:01:45","open":false}],"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:01:47 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/read
    body:
      encoding: UTF-8
      string: projectId=816915&name=file_2.cs
    headers:
      Timestamp:
      - '1510484507'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MWMzOWE3NDMwNDgyMTJlNDNkODM3ZDYxYmVmNTJjNjZmN2NkZTVhMjI3ZDc4MThjZDQzYzk4MjI3NzNlNDA3OQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_2.cs","content":"file 2 contents...","modified":"2017-11-12
        11:01:46","open":false}],"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:01:48 GMT
recorded_with: VCR 3.0.3
