---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510304424'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZjY5ZDAzMWE0ZjAyZDliZGZhZjZmZGU3ZTA0YzkyMmEzZTQzYTM0MDE2MjQzM2JkOWVlOTZmYzc1NDkzNjRjMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"805421","name":"my project","modified":"2017-11-07
        09:52:36","created":"2017-11-07 09:52:36","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2396","owner":true,"channelId":"P805421-7575272ac4bfaafb128bef9036660206","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"799895","name":"My
        first C# project","modified":"2017-11-07 09:42:57","created":"2017-11-04 23:02:19","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2396","owner":true,"channelId":"P799895-853c8c787799c4642c9c8b5181581a69","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2396","sref":"refs\/heads\/master","slean":"f118ac6baa58e71eccd5ebd9e7816c555b4b5e94","sleancloud":"94de5b6e0c8425fef45d5ec4791375e92b23c8d3","sdescription":"Merge
        pull request #1299 from StefanoRaggi\/future-margin-model-fix<br\/>Fix decimal
        precision issue in FutureMarginModel.GetMaintenanceMargin","sname":"master","bpublic":"1","itimestamp":"2017-11-09
        23:59:30"}],"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:00:25 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=805421
    headers:
      Timestamp:
      - '1510304425'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NTAyY2ExODdjNDJiMWIxMDQ0MzY0MzhiMjk5MWMzYzNhMzRjMjg4ZjNjZGUyOTViZGMwYTI1YTBhYWRjZWQxYg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:00:25 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1510304425'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NTAyY2ExODdjNDJiMWIxMDQ0MzY0MzhiMjk5MWMzYzNhMzRjMjg4ZjNjZGUyOTViZGMwYTI1YTBhYWRjZWQxYg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"812961","name":"my project","created":"2017-11-10
        09:00:26","modified":"2017-11-10 09:00:26"}],"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:00:27 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510304427'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MjkzNzQxNGRlNTdiZDg0YjVlZjUyNTk3ODBkOTgxMDY4YmVkZDkwYjdmZjY4MTU2ZGI3YmE3YzczNDk3YTI2NA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:00:28 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=812962&name=file_1.cs&content=file+1+contents...%0A
    headers:
      Timestamp:
      - '1510304428'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NTc2ZGI4ZTA1NjZhMWI5ZTZiM2RkNjVjNDY5YTk5MDUxYjNkMTkxNjNmOGIyODY3MTk3ODI0ODc4MTk1OTI4Nw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_1.cs","content":"file 1 contents...","modified":"2017-11-10
        09:00:29"}],"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:00:29 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/read
    body:
      encoding: UTF-8
      string: projectId=812962&name=file_1.cs
    headers:
      Timestamp:
      - '1510304430'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NTZkY2I4ODU2NDA2MTQ5YTJhN2UzYjQzMDA3MmQ5MTM0MDI5MzQwOWNlOWM3ZDQyZjYyYjg3OWE1OTRjMTRlYw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_1.cs","content":"file 1 contents...","modified":"2017-11-10
        09:00:29","open":false}],"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:00:30 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/read
    body:
      encoding: UTF-8
      string: projectId=812962&name=file_2.cs
    headers:
      Timestamp:
      - '1510304430'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NTZkY2I4ODU2NDA2MTQ5YTJhN2UzYjQzMDA3MmQ5MTM0MDI5MzQwOWNlOWM3ZDQyZjYyYjg3OWE1OTRjMTRlYw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_2.cs","content":"file 2 contents...","modified":"2017-11-10
        09:00:30","open":false}],"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:00:31 GMT
recorded_with: VCR 3.0.3
