---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510305418'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YTc4ZTY1NzUwYzUwMzVlZWQ5ZTUyZWQwYzExNmI3OTdiZGJlYTFhZmMzMTJhZTZiODcwOTY3YWJkZDVjMGI4ZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"812983","name":"my project","modified":"2017-11-10
        09:16:31","created":"2017-11-10 09:16:31","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2396","owner":true,"channelId":"P812983-c358588b5d50a128db82d3f0afa3458e","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"799895","name":"My
        first C# project","modified":"2017-11-07 09:42:57","created":"2017-11-04 23:02:19","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2396","owner":true,"channelId":"P799895-853c8c787799c4642c9c8b5181581a69","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2396","sref":"refs\/heads\/master","slean":"f118ac6baa58e71eccd5ebd9e7816c555b4b5e94","sleancloud":"94de5b6e0c8425fef45d5ec4791375e92b23c8d3","sdescription":"Merge
        pull request #1299 from StefanoRaggi\/future-margin-model-fix<br\/>Fix decimal
        precision issue in FutureMarginModel.GetMaintenanceMargin","sname":"master","bpublic":"1","itimestamp":"2017-11-09
        23:59:30"}],"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:16:59 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=812983
    headers:
      Timestamp:
      - '1510305419'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6M2U1YTgyMmY3NGNhYzE4M2QwNjRkYzJkZTY0MzIxNzQ1YjM3NGI5NDU4MTEzN2RlZDFhNTliMWNhZmI0M2JiNQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:16:59 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1510305419'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6M2U1YTgyMmY3NGNhYzE4M2QwNjRkYzJkZTY0MzIxNzQ1YjM3NGI5NDU4MTEzN2RlZDFhNTliMWNhZmI0M2JiNQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"812984","name":"my project","created":"2017-11-10
        09:17:00","modified":"2017-11-10 09:17:00"}],"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:17:01 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510305421'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NjNmMGEzMzNkMzEwODY2NDkwMDg3NDM5OGQ4NTE2OGU3MTgyYzUwZDllNzhhY2UyNTJlY2Y4NTJiZDUwN2YzZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:17:02 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=812984&name=file_1.cs&content=file+1+contents...%0A
    headers:
      Timestamp:
      - '1510305424'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MzU3ZTFjMzQ0NGFkMDlkOGRjZTEwZmExMjBlNDgyMTFlYzQ3OGNhNmRjNjQ0NWVmNmYxOWU1NzJjYWFlNDRlYw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_1.cs","content":"file 1 contents...","modified":"2017-11-10
        09:17:04"}],"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:17:04 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=812984&name=file_2.cs&content=file+2+contents...%0A
    headers:
      Timestamp:
      - '1510305424'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MzU3ZTFjMzQ0NGFkMDlkOGRjZTEwZmExMjBlNDgyMTFlYzQ3OGNhNmRjNjQ0NWVmNmYxOWU1NzJjYWFlNDRlYw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_2.cs","content":"file 2 contents...","modified":"2017-11-10
        09:17:05"}],"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:17:05 GMT
recorded_with: VCR 3.0.3
