---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510437707'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6OTVmMzk2MjkyMDZlNDNlMzRiM2YzOWZjY2Q2NTRhZDA1MjA0Yzg5NGJhODZkYzUxZjM4MjFjOGViNDgyMjZhYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816026","name":"my project","modified":"2017-11-11
        22:00:13","created":"2017-11-11 22:00:13","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P816026-4bf68708f41b0cccb0c94bea1cfdbc82","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"799895","name":"My
        first C# project","modified":"2017-11-10 13:51:31","created":"2017-11-04 23:02:19","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P799895-853c8c787799c4642c9c8b5181581a69","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2402","sref":"refs\/heads\/master","slean":"5f238a5727c77f7b75fb24370c07f99fbcf521fe","sleancloud":"fe358c1589e9ea11d5f9828f7e67120c987111ae","sdescription":"Merge
        pull request #1298 from andrewhart098\/aggregating-consolidators<br\/>TickAggregator","sname":"master","bpublic":"1","itimestamp":"2017-11-10
        22:31:04"}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:01:48 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=816026
    headers:
      Timestamp:
      - '1510437708'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NGQ4M2Y5Mzc1MWU2MjI1ZDk2ZjZiOTE0M2UzMmE4NjZjMDQzNmM2ZTNkNmZkNTJmN2Y1YTc5MjE3ZWVkYjIxOA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:01:49 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1510437709'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZGFkMzQyZjI1N2Y0NTUzYTZjMDJjNWQ3MzU3ZWQ5MWM1YmE3MGUxMmEzY2M3NDBjZTM1NTgwNzgzYjdkMDY1Mg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816029","name":"my project","created":"2017-11-11
        22:01:49","modified":"2017-11-11 22:01:49"}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:01:51 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510437711'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YWY5MWQ1YjQ1ODk2MWRmZmZlZWFkN2QwNDk5MjE5Njg4MTNhNTJmMmE4ODk5ZTk2MjQ2ZTBhY2Q5ZGNjODZlYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:01:51 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=816029&name=BasicAlgo.cs&content=namespace+QuantConnect%0A%7B%0A++++%2F*%0A++++*+++Basic+Template+Algorithm%0A++++*%0A++++*+++The+underlying+QCAlgorithm+class+has+many+methods+which+enable+you+to+use+QuantConnect.%0A++++*+++We+have+explained+some+of+these+here%2C+but+the+full+base+class+can+be+found+at%3A%0A++++*+++https%3A%2F%2Fgithub.com%2FQuantConnect%2[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=816029&name=BasicAlgo.cs&content=namespace+QuantConnect%0A%7B%0A++++%2F*%0A++++*+++Basic+Template+Algorithm%0A++++*%0A++++*+++The+underlying+QCAlgorithm+class+has+many+methods+which+enable+you+to+use+QuantConnect.%0A++++*+++We+have+explained+some+of+these+here%2C+but+the+full+base+class+can+be+found+at%3A%0A++++*+++https%3A%2F%2Fgithub.com%2FQuantConnect%2[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/compile/create
    body:
      encoding: UTF-8
      string: projectId=816029
    headers:
      Timestamp:
      - '1510437715'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YjVkOTIwMWQwMjg1OGFjODNmZjc0NjI3ODM4NDNjMDBmYzdmZGQ0ZjYwN2QzOTJhYTkzNWU5MGY1NzI2ZWRjZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"compileId":"127d2829a24b204fd5845007e345c557-dc68bfd0e7cbe7b7633a21ced301def5","state":"InQueue","success":true}'
  recorded_at: Sat, 11 Nov 2017 22:01:55 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/compile/read?compileId=127d2829a24b204fd5845007e345c557-dc68bfd0e7cbe7b7633a21ced301def5&projectId=816029
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510437715'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YjVkOTIwMWQwMjg1OGFjODNmZjc0NjI3ODM4NDNjMDBmYzdmZGQ0ZjYwN2QzOTJhYTkzNWU5MGY1NzI2ZWRjZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"compileId":"127d2829a24b204fd5845007e345c557-dc68bfd0e7cbe7b7633a21ced301def5","state":"BuildSuccess","logs":["Build
        Request Successful for Project ID: 816029, with CompileID: 127d2829a24b204fd5845007e345c557-dc68bfd0e7cbe7b7633a21ced301def5,
        Lean Version: 2.4.0.1.2402"],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:01:56 GMT
recorded_with: VCR 3.0.3
