---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510484508'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NzE3ODVhMzc5YzdlZDkwZjIxNmNlYjNhMTg4NjYxMDk3YmU0ODhhYzc2NzM4MGMzYTRmMTA1ZGZkZWRlMjVhMw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816915","name":"my project","modified":"2017-11-12
        11:01:40","created":"2017-11-12 11:01:40","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P816915-0862dfc2560c7c6ef6d91d2239f909a6","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"799895","name":"My
        first C# project","modified":"2017-11-10 13:51:31","created":"2017-11-04 23:02:19","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P799895-853c8c787799c4642c9c8b5181581a69","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2402","sref":"refs\/heads\/master","slean":"5f238a5727c77f7b75fb24370c07f99fbcf521fe","sleancloud":"fe358c1589e9ea11d5f9828f7e67120c987111ae","sdescription":"Merge
        pull request #1298 from andrewhart098\/aggregating-consolidators<br\/>TickAggregator","sname":"master","bpublic":"1","itimestamp":"2017-11-10
        22:31:04"}],"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:01:48 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=816915
    headers:
      Timestamp:
      - '1510484508'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NzE3ODVhMzc5YzdlZDkwZjIxNmNlYjNhMTg4NjYxMDk3YmU0ODhhYzc2NzM4MGMzYTRmMTA1ZGZkZWRlMjVhMw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:01:49 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1510484509'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YjNjZDY3ODI2Yjc0ZWI4OTliNTgwNWEwMjAzZTMyMjRmMDkzZjU4MjBhZjM3OTQ1MzY3MjI1YjMzOWNiYzUzMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816916","name":"my project","created":"2017-11-12
        11:01:51","modified":"2017-11-12 11:01:51"}],"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:01:53 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510484513'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NjgxY2ZjZDg3MDcyYjc1MTUzMjI5NWQzYWZlMmFmNTNmNWI1ZGU5MGU0ZDRhYmMwOTY3OTY1Yzc1YWU5NWU1Yw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:01:54 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=816916&name=file_1.cs&content=file+1+contents...%0A
    headers:
      Timestamp:
      - '1510484514'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NDMyY2EwZjMwNTRkNGJhMzg0OTkzMTg4MGY0MmViNDkyZTgyNzA1MDQ3OGUyOWQwYmQ5MmUxMDI0Y2Q0OTg3Mw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["File not found ''name''=file_1.cs"],"success":false}'
  recorded_at: Sun, 12 Nov 2017 11:01:55 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=816916&name=file_1.cs&content=file+1+contents...%0A
    headers:
      Timestamp:
      - '1510484515'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NjEyMDljYjUyODMwM2JiNTQyZDE2ODRlM2E4YzUyNDI3YzBkMTU3YTI2MmY3NTFjN2MwYTE3MDgzMGJlZGFkMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_1.cs","content":"file 1 contents...","modified":"2017-11-12
        11:01:56"}],"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:01:56 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=816916&name=file_2.cs&content=file+2+contents...%0A
    headers:
      Timestamp:
      - '1510484516'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NmI5NmJhZTYyODFkZGM5NzBkNTZiOWNmMjQ3MDcxMmUzZDU5MWYyNmYzZjVhYjMyYzhiZTUwMGUyNmI4NjBlNw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_2.cs","content":"file 2 contents...","modified":"2017-11-12
        11:01:58"}],"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:01:59 GMT
recorded_with: VCR 3.0.3
