---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510317717'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MDQzNjI1YWRkZjQyY2Y3ZjU1M2Y4MzA5MzA0YTRlZGMyNmQ3MGVjMzVlNzViOGIwZDVlOWVjNjU1ZTljZmMxNg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"813322","name":"my project","modified":"2017-11-10
        12:41:42","created":"2017-11-10 12:41:42","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2396","owner":true,"channelId":"P813322-22690565cbe276c0ceeca60eae1ed52f","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"799895","name":"My
        first C# project","modified":"2017-11-10 11:39:15","created":"2017-11-04 23:02:19","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2396","owner":true,"channelId":"P799895-853c8c787799c4642c9c8b5181581a69","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2396","sref":"refs\/heads\/master","slean":"f118ac6baa58e71eccd5ebd9e7816c555b4b5e94","sleancloud":"94de5b6e0c8425fef45d5ec4791375e92b23c8d3","sdescription":"Merge
        pull request #1299 from StefanoRaggi\/future-margin-model-fix<br\/>Fix decimal
        precision issue in FutureMarginModel.GetMaintenanceMargin","sname":"master","bpublic":"1","itimestamp":"2017-11-09
        23:59:30"}],"success":true}'
  recorded_at: Fri, 10 Nov 2017 12:41:59 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=813322
    headers:
      Timestamp:
      - '1510317719'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YmE3MzY4MGY0NDgzZjYxMDQ3ZjE0Y2Y5MGUxNGNiZGJiNDIzYzJjOTY1MzAwNmJhYWYzZWNlODBlZWMyMjM4Mw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Fri, 10 Nov 2017 12:41:59 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1510317719'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YmE3MzY4MGY0NDgzZjYxMDQ3ZjE0Y2Y5MGUxNGNiZGJiNDIzYzJjOTY1MzAwNmJhYWYzZWNlODBlZWMyMjM4Mw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"813324","name":"my project","created":"2017-11-10
        12:42:00","modified":"2017-11-10 12:42:00"}],"success":true}'
  recorded_at: Fri, 10 Nov 2017 12:42:02 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510317722'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZjcwMWY5ZDZiMjY2ODgxNzU3MGUzNmUxZmY5MTIwOGNhOGNmMTkwNzNlMGJkMmQ1MzkzNjNlYjZkNjhmYmEyMA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Fri, 10 Nov 2017 12:42:02 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=813324&name=BasicAlgo.cs&content=namespace+QuantConnect%0A%7B%0A++++%2F*%0A++++*+++Basic+Template+Algorithm%0A++++*%0A++++*+++The+underlying+QCAlgorithm+class+has+many+methods+which+enable+you+to+use+QuantConnect.%0A++++*+++We+have+explained+some+of+these+here%2C+but+the+full+base+class+can+be+found+at%3A%0A++++*+++https%3A%2F%2Fgithub.com%2FQuantConnect%2[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=813324&name=BasicAlgo.cs&content=namespace+QuantConnect%0A%7B%0A++++%2F*%0A++++*+++Basic+Template+Algorithm%0A++++*%0A++++*+++The+underlying+QCAlgorithm+class+has+many+methods+which+enable+you+to+use+QuantConnect.%0A++++*+++We+have+explained+some+of+these+here%2C+but+the+full+base+class+can+be+found+at%3A%0A++++*+++https%3A%2F%2Fgithub.com%2FQuantConnect%2[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/compile/create
    body:
      encoding: UTF-8
      string: projectId=813324
    headers:
      Timestamp:
      - '1510317724'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZDE0MDNlY2M5ZjJkNjQyY2ZkMDRlNjkxYzZkMGIyNWIwMDk0ZjA4MzViMzZhZjdkYTc1MjMyODQ1Zjc1ZjU5NA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"compileId":"84d370550613a4b2ac6768e9ba36f6eb-95765c349ccdab6be3ee11a1406fbcb2","state":"InQueue","success":true}'
  recorded_at: Fri, 10 Nov 2017 12:42:06 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/compile/read?compileId=84d370550613a4b2ac6768e9ba36f6eb-95765c349ccdab6be3ee11a1406fbcb2&projectId=813324
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510317728'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NGUyYzY1MTdhYTZiMzA0NjBlNDA1MzE4MzhiNjYwZDcyYTVjNjk0YjVmNTc0ZjJlYTYwMDI3NjVlOTgzMmRmYg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"compileId":"84d370550613a4b2ac6768e9ba36f6eb-95765c349ccdab6be3ee11a1406fbcb2","state":"BuildSuccess","logs":["Build
        Request Successful for Project ID: 813324, with CompileID: 84d370550613a4b2ac6768e9ba36f6eb-95765c349ccdab6be3ee11a1406fbcb2,
        Lean Version: 2.4.0.1.2396"],"success":true}'
  recorded_at: Fri, 10 Nov 2017 12:42:09 GMT
recorded_with: VCR 3.0.3
