---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510437749'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZmRlNWQ1OGU3NWE5ZmU0ZWY4NGMwNTkyMGY1ZWQyYWY0YWFlMDdjNDg1ZTdjMjEwNTU3NWZkMGU0M2Q0MGU4Yg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816031","name":"my project","modified":"2017-11-11
        22:02:06","created":"2017-11-11 22:02:06","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P816031-0e14b9badb039f0033c06a3f455c95ce","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"799895","name":"My
        first C# project","modified":"2017-11-10 13:51:31","created":"2017-11-04 23:02:19","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P799895-853c8c787799c4642c9c8b5181581a69","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2402","sref":"refs\/heads\/master","slean":"5f238a5727c77f7b75fb24370c07f99fbcf521fe","sleancloud":"fe358c1589e9ea11d5f9828f7e67120c987111ae","sdescription":"Merge
        pull request #1298 from andrewhart098\/aggregating-consolidators<br\/>TickAggregator","sname":"master","bpublic":"1","itimestamp":"2017-11-10
        22:31:04"}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:30 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=816031
    headers:
      Timestamp:
      - '1510437750'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ODAwZGQ4MDJkY2UzY2ZiM2VkYTVjY2VkNjNkYzM0NDllMTlmMDZmZGY3M2IwNDA3YmQ2ODU3NzQ3ZGQ2NDkwMA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:33 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1510437753'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZDI0YzMzNGFiYmJlYzMzNWU0ZDhlY2Y1NzdhNDhjMGZiYmQ0NDM4YjFlYzdkOTAwNTFjNDY5YmViMDM1OWQ0Nw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816034","name":"my project","created":"2017-11-11
        22:02:34","modified":"2017-11-11 22:02:34"}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:35 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510437755'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZTVkN2VjMzRiYzMyNTgyYWQ1Mjc1ZWUwMmExNDAzNmIwMjkxNTYyMzE2MzZiY2YwMGQ2ZGQ0NTczY2YwZTIzMA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:35 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=816034&name=AlgoThatWontCompile.cs&content=this+is+not+valid+csharp+BUAHAHAHA%0A
    headers:
      Timestamp:
      - '1510437756'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YWJjMDk1ZjQyMjM5MGQ2YjJlYjgzNzk3MTFjNzc3OTNlOTJkYmQzOWNlYzBhZTY1YWRiNDk3Yjk3OTRlYjQ2MQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["File not found ''name''=AlgoThatWontCompile.cs"],"success":false}'
  recorded_at: Sat, 11 Nov 2017 22:02:37 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=816034&name=AlgoThatWontCompile.cs&content=this+is+not+valid+csharp+BUAHAHAHA%0A
    headers:
      Timestamp:
      - '1510437757'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NGE3YWU0MTgwY2MzMWQyZWI2ZDA4MGY0MzJlOTI1YTE2N2ExMTFjMzNiNmZhMjVmNWY1MTcxOWNhZTU0YTUwYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"AlgoThatWontCompile.cs","content":"this is not valid
        csharp BUAHAHAHA","modified":"2017-11-11 22:02:38"}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:38 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/compile/create
    body:
      encoding: UTF-8
      string: projectId=816034
    headers:
      Timestamp:
      - '1510437758'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ODg1YzEwOWFjZGRkMmQxN2ZiYTUzMjE4OGJlZWY2MmQ4M2IwY2JmMzZkM2ViZWM3NjE1MzM3YTdmNjRkOTYxMQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"compileId":"0de87c3b8097ac7618dd066e62fc98ae-1be39c2d29df6f3979c9b92c25774636","state":"InQueue","success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:39 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/compile/read?compileId=0de87c3b8097ac7618dd066e62fc98ae-1be39c2d29df6f3979c9b92c25774636&projectId=816034
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510437759'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MTQxNTEyNjIxYTZmOWM5ZjgyMTY2OGIwNzgwY2RjYWE2MTQ5Yzc2ODQ1OTI2YTA1ZmJiY2M3NGU4YjhkY2ZhNw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"compileId":"0de87c3b8097ac7618dd066e62fc98ae-1be39c2d29df6f3979c9b92c25774636","state":"BuildError","logs":["Error
        AlgoThatWontCompile.cs Line: 1 Column: 871 - Type expected","Error AlgoThatWontCompile.cs
        Line: 1 Column: 876 - Syntax error, ''['' expected","Error AlgoThatWontCompile.cs
        Line: 1 Column: 876 - Identifier expected; ''is'' is a keyword","Error AlgoThatWontCompile.cs
        Line: 1 Column: 889 - Syntax error, '','' expected","Error AlgoThatWontCompile.cs
        Line: 1 Column: 915 - Syntax error, '','' expected"],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:40 GMT
recorded_with: VCR 3.0.3
