---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510306175'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MTE1ZjJiNWRhZmViODkwMjdiZGMxNTY4NjU2ZWMyMmEwMzQ5YzQwNWM3ZGE1MGExOGU1YzczZjg3NDJkYmZlYg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"813003","name":"my project","modified":"2017-11-10
        09:29:29","created":"2017-11-10 09:29:22","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2396","owner":true,"channelId":"P813003-0009df4fabf0af32288fea254268062e","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"799895","name":"My
        first C# project","modified":"2017-11-07 09:42:57","created":"2017-11-04 23:02:19","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2396","owner":true,"channelId":"P799895-853c8c787799c4642c9c8b5181581a69","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2396","sref":"refs\/heads\/master","slean":"f118ac6baa58e71eccd5ebd9e7816c555b4b5e94","sleancloud":"94de5b6e0c8425fef45d5ec4791375e92b23c8d3","sdescription":"Merge
        pull request #1299 from StefanoRaggi\/future-margin-model-fix<br\/>Fix decimal
        precision issue in FutureMarginModel.GetMaintenanceMargin","sname":"master","bpublic":"1","itimestamp":"2017-11-09
        23:59:30"}],"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:29:36 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=813003
    headers:
      Timestamp:
      - '1510306176'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ODlhMjUxNTVkMTJmM2U4ODU1MmFmYjJhMTE1Njc5OTNkZTRlMjk0ZmVkYjQ5MjI3ZGQ3OWMxMTAzYjlhZGZiYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:29:37 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1510306177'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NzE0YWEzMTAzNWQxNTEzZTM3ZDY4MGM1MmQ3MzRmZjFiNThhMThhYTY4NzhiMWFhZmMzYzY0OWNhN2ZhNzYwMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"813004","name":"my project","created":"2017-11-10
        09:29:37","modified":"2017-11-10 09:29:37"}],"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:29:39 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510306179'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NmJmMzYzMzQ3MmY4MTlmZmJkNzk0NGMzMmQ0NGJmOWUzNjRiNGRmOGRlNDAyNzdhODY3ZjdmMDI2MjI1N2MwZg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:29:40 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=813004&name=file_1.cs&content=file+1+contents...%0A
    headers:
      Timestamp:
      - '1510306181'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZDAzNjZkMzZkMTU1NWZkMjYzOWNmMmVkYWUxZTBjNzRjNTAxODVmMTQ2MmNhZmFhMDgwYWM1YjRhZjc3ZTMwYw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["File not found ''name''=file_1.cs"],"success":false}'
  recorded_at: Fri, 10 Nov 2017 09:29:41 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=813004&name=file_1.cs&content=file+1+contents...%0A
    headers:
      Timestamp:
      - '1510306181'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZDAzNjZkMzZkMTU1NWZkMjYzOWNmMmVkYWUxZTBjNzRjNTAxODVmMTQ2MmNhZmFhMDgwYWM1YjRhZjc3ZTMwYw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_1.cs","content":"file 1 contents...","modified":"2017-11-10
        09:29:42"}],"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:29:42 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=813004&name=file_2.cs&content=file+2+contents...%0A
    headers:
      Timestamp:
      - '1510306183'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MGQ0NTM2NDQyNmM0Y2ZiZDBjM2I5OWFmZDBiNDQ2ZjRjYTAyYWU3YTJkMzU2NTk3OGJhZTIyYThhZjY5NmUyMA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_2.cs","content":"file 2 contents...","modified":"2017-11-10
        09:29:43"}],"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:29:43 GMT
recorded_with: VCR 3.0.3
