---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1512340404'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZGRiNzAyODIwNjIxMDZkODQ1NmNkYWYyMzI2OWVkN2IzOTQ4OTU5MjVjMTE1NzU2MzliZGVlMDE1ZjM3MTE1Mw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"879893","name":"my project","modified":"2017-12-03
        22:32:02","created":"2017-12-03 22:32:02","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2520","owner":true,"channelId":"P879893-c7bfe9819f95a96afbe22acd6704c319","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"799895","name":"My
        first C# project","modified":"2017-11-12 12:03:19","created":"2017-11-04 23:02:19","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2520","owner":true,"channelId":"P799895-853c8c787799c4642c9c8b5181581a69","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2520","sref":"refs\/heads\/master","slean":"c727c16c685229921dd42b143fbcf6b808b1f697","sleancloud":"6613787aab4ab5ff7de7da42b086e0e843396cd9","sdescription":"Upgrades
        to backend QuantConnect operations","sname":"master","bpublic":"1","itimestamp":"2017-11-30
        23:16:22"}],"success":true}'
  recorded_at: Sun, 03 Dec 2017 22:33:24 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=879893
    headers:
      Timestamp:
      - '1512340404'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZGRiNzAyODIwNjIxMDZkODQ1NmNkYWYyMzI2OWVkN2IzOTQ4OTU5MjVjMTE1NzU2MzliZGVlMDE1ZjM3MTE1Mw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sun, 03 Dec 2017 22:33:25 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1512340405'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ODNjNDczOGFjMzMwYTZhYjU1OWRhYzMzZTQ3NWFhOWJhNWYwNzM1YzMxMzY4N2U0NDFjYTgzZmRkODAwNDczZg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"879898","name":"my project","created":"2017-12-03
        22:33:27","modified":"2017-12-03 22:33:27"}],"success":true}'
  recorded_at: Sun, 03 Dec 2017 22:33:29 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1512340409'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZjUyYjNlODY5OWJlZjRlOTM0Zjg2MTk0NTMxMjQ3OGUyMWI5YjgxZTk1OWZhOGUxZjRmM2QwYThkYzM5MDNjOA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sun, 03 Dec 2017 22:33:29 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=879898&name=AssemblyInfo.cs&content=some+content+that+should+never+be+pushed%0A
    headers:
      Timestamp:
      - '1512340410'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MGNkN2ZiZTc5NzUwODRjOTIxODJhMzY3YmJiOWMwMTc2Yjk1ZmExZjQ4ZjUyOWI2MGFmZmY4YjY4YThjOWFmYw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["File not found ''name''=AssemblyInfo.cs"],"success":false}'
  recorded_at: Sun, 03 Dec 2017 22:33:31 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=879898&name=AssemblyInfo.cs&content=some+content+that+should+never+be+pushed%0A
    headers:
      Timestamp:
      - '1512340411'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MWY4Yzc3ODY0NjRmYmE1MzNjMzM4ODAzMmRiYjE3ZTFlN2QyZGVjMGEyZDE1MjUwNjUxZDFlZDM4YjA4YjY5Zg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"AssemblyInfo.cs","content":"some content that should
        never be pushed","modified":"2017-12-03 22:33:31"}],"success":true}'
  recorded_at: Sun, 03 Dec 2017 22:33:31 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=879898&name=file_2.cs&content=file+2+contents...%0A
    headers:
      Timestamp:
      - '1512340415'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MjgzMDQ3ZDVkZjY2NTA3MDFkNDdmMjRjMWJlYTIwNTgwMjQyMTNhNzRmMzc1YmU0OGU0ZDczZTEyNGJkMDBlZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_2.cs","content":"file 2 contents...","modified":"2017-12-03
        22:33:36"}],"success":true}'
  recorded_at: Sun, 03 Dec 2017 22:33:36 GMT
recorded_with: VCR 3.0.3
