---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1514221394'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MjI0YWMwY2FhMjQ4M2Q1YjFiMTIxY2E2OWFkYjJiMGU0ZWVhYWMzMmYwMTcxOTUzMThlYjk5ODA5Yzc2NDU0NQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"947462","name":"my project","modified":"2017-12-25
        17:02:53","created":"2017-12-25 17:02:53","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2731","owner":true,"channelId":"P947462-4b377415e19e20965a2e4273e3ffa070","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"947315","name":"
        Basic Template Algorithm","modified":"2017-12-25 15:33:29","created":"2017-12-25
        15:32:15","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2731","owner":true,"channelId":"P947315-f1344c670c20c42f306bf09e7b542bb3","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2731","sref":"refs\/heads\/master","slean":"721972c6b67ffd87efee0a8f01f0addf28426c31","sleancloud":"d66d27cb78b3fe9feb83545783c50588a4518b22","sdescription":"Merge
        pull request #1432 from StefanoRaggi\/ib-moc-fix<br\/>Fix IB error with Market
        On Close (MOC) orders","sname":"master","bpublic":"1","itimestamp":"2017-12-23
        00:48:34"}],"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:03:15 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=947462
    headers:
      Timestamp:
      - '1514221395'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZmUxOWUwZDllMjM3MDlkM2YyNWZmMmFmYzNhMjkxY2NmYzc1YzhjNTk0MDFjM2EwYjY5NTcyMWFiNTQ1ZmVjNw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:03:15 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1514221395'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZmUxOWUwZDllMjM3MDlkM2YyNWZmMmFmYzNhMjkxY2NmYzc1YzhjNTk0MDFjM2EwYjY5NTcyMWFiNTQ1ZmVjNw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"947464","name":"my project","created":"2017-12-25
        17:03:16","modified":"2017-12-25 17:03:16"}],"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:03:17 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1514221397'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6OGMwNmNkMzQzNWM5NTM1OTY1MDE0YjU5OTQ3OWM1ZTYxODQ0MTFiMjRiMDFlZWNlYTc4OTllNGFjODFlYzUzOA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:03:18 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=947464&name=AlgoThatWontCompile.cs&content=this+is+not+valid+csharp+BUAHAHAHA
    headers:
      Timestamp:
      - '1514221399'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6M2YwMDBmNTEwMTAxYjg0YjMyYWQzNDE5MWNmOWM1MWQ1NTU2ZWIwN2UxODk4YWNmNzcyZTY1MmZiYTY0Mzg0NQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["File not found ''name''=AlgoThatWontCompile.cs"],"success":false}'
  recorded_at: Mon, 25 Dec 2017 17:03:20 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=947464&name=AlgoThatWontCompile.cs&content=this+is+not+valid+csharp+BUAHAHAHA
    headers:
      Timestamp:
      - '1514221400'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6M2EwNTRjNjJjZDg0MWIzZDE0ZjQ1Y2VjN2QwZGFkMjVjOThhYjZlYWExM2E5NGE5MmJkZGI0YmFlNGJlZGYyYg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"AlgoThatWontCompile.cs","content":"this is not valid
        csharp BUAHAHAHA","modified":"2017-12-25 17:03:21"}],"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:03:20 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/compile/create
    body:
      encoding: UTF-8
      string: projectId=947464
    headers:
      Timestamp:
      - '1514221400'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6M2EwNTRjNjJjZDg0MWIzZDE0ZjQ1Y2VjN2QwZGFkMjVjOThhYjZlYWExM2E5NGE5MmJkZGI0YmFlNGJlZGYyYg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"compileId":"a15045d4e65d931176d25b1f8fbfa6b1-1be39c2d29df6f3979c9b92c25774636","state":"InQueue","success":true}'
  recorded_at: Mon, 25 Dec 2017 17:03:21 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/compile/read?compileId=a15045d4e65d931176d25b1f8fbfa6b1-1be39c2d29df6f3979c9b92c25774636&projectId=947464
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1514221401'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YWE4ZGIwYmM2NDQ4OTI4NGE1M2RlNDViZGQ2MDQ1ZTg2YWExMTM2ODY5NTY4NmExZmU0ZWUxZjVhNGY4NDM4OA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"compileId":"a15045d4e65d931176d25b1f8fbfa6b1-1be39c2d29df6f3979c9b92c25774636","state":"BuildError","logs":["Error
        AlgoThatWontCompile.cs Line: 1 Column: 1147 - Type expected","Error AlgoThatWontCompile.cs
        Line: 1 Column: 1152 - Syntax error, ''['' expected","Error AlgoThatWontCompile.cs
        Line: 1 Column: 1152 - Identifier expected; ''is'' is a keyword","Error AlgoThatWontCompile.cs
        Line: 1 Column: 1165 - Syntax error, '','' expected","Error AlgoThatWontCompile.cs
        Line: 1 Column: 1191 - Syntax error, '','' expected"],"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:04:22 GMT
recorded_with: VCR 3.0.3
