---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1514222072'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MjljYjRlMGNhZDA5NmY3NTIxMTQ3YWMxY2NjNGU3NjIwNTU4Nzc0YTMwN2U4MmRjYjI3ZmU2N2MwYmFkNDg1NA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"947490","name":"my project","modified":"2017-12-25
        17:13:32","created":"2017-12-25 17:13:32","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2731","owner":true,"channelId":"P947490-2ad9affaa54cbc5b21e5306e85b57e79","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"947315","name":"
        Basic Template Algorithm","modified":"2017-12-25 15:33:29","created":"2017-12-25
        15:32:15","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2731","owner":true,"channelId":"P947315-f1344c670c20c42f306bf09e7b542bb3","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2731","sref":"refs\/heads\/master","slean":"721972c6b67ffd87efee0a8f01f0addf28426c31","sleancloud":"d66d27cb78b3fe9feb83545783c50588a4518b22","sdescription":"Merge
        pull request #1432 from StefanoRaggi\/ib-moc-fix<br\/>Fix IB error with Market
        On Close (MOC) orders","sname":"master","bpublic":"1","itimestamp":"2017-12-23
        00:48:34"}],"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:14:33 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=947490
    headers:
      Timestamp:
      - '1514222073'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6N2I1ZGE5NTBhMDQ5MGU2NTA1ZTAxYzQ1MWE1ZTA0Nzk3NmNiNmI5N2EzMTdlNzU0NjJlZjAxY2E0NzI4NmZlYg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:14:34 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1514222074'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NzI4NmYxN2RiMmNkNjliZTljMWU4YTMyYzI4MmYyYWMwYWJiODEzNWZhMzJmOGZhNjExNTZlODU1NDE0YTk4Zg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"947493","name":"my project","created":"2017-12-25
        17:14:35","modified":"2017-12-25 17:14:35"}],"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:14:37 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1514222077'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NGM1NDViZWIzODNlYzE4ZWMyNDk3ODM5YmVmZTY0MTUwOWQ4NjlhYTBkYTYzYjdjNGE0MTc4YzVkZDVlOTBkYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:14:37 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=947493&name=AlgoThatWontCompile.cs&content=this+is+not+valid+csharp+BUAHAHAHA
    headers:
      Timestamp:
      - '1514222078'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MjA3OGEzYTEwZTBiYjkwOWM3OWNlZmE0ZTdmM2NmZThiOGUzMDE2NDQ3Yzk3NjU3MTg0YTc4YmJhM2Y5ZjdlYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["File not found ''name''=AlgoThatWontCompile.cs"],"success":false}'
  recorded_at: Mon, 25 Dec 2017 17:14:39 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=947493&name=AlgoThatWontCompile.cs&content=this+is+not+valid+csharp+BUAHAHAHA
    headers:
      Timestamp:
      - '1514222079'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6Y2ViMDcyYmE3ZDBhYWVmN2NiYTJlZjUxOTZlNzE4ZDk4NGExYjAwMjI4OTBkMGVmNTI5ZWUzY2ExNWIzNmI0Yw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"AlgoThatWontCompile.cs","content":"this is not valid
        csharp BUAHAHAHA","modified":"2017-12-25 17:14:40"}],"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:14:39 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/compile/create
    body:
      encoding: UTF-8
      string: projectId=947493
    headers:
      Timestamp:
      - '1514222079'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6Y2ViMDcyYmE3ZDBhYWVmN2NiYTJlZjUxOTZlNzE4ZDk4NGExYjAwMjI4OTBkMGVmNTI5ZWUzY2ExNWIzNmI0Yw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"compileId":"557f0d25622b26880b5c1838429e572b-1be39c2d29df6f3979c9b92c25774636","state":"InQueue","success":true}'
  recorded_at: Mon, 25 Dec 2017 17:14:40 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/compile/read?compileId=557f0d25622b26880b5c1838429e572b-1be39c2d29df6f3979c9b92c25774636&projectId=947493
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1514222080'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YzM3ZDk0Y2FmNWM1ZTk2OGQ5NWM5NWIxZWUxMzUzMWYyM2U1ZTQ5ZDQ5YjdlNWVkMmYxZjZkYWY1ODk0MjliZg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"compileId":"557f0d25622b26880b5c1838429e572b-1be39c2d29df6f3979c9b92c25774636","state":"BuildError","logs":["Error
        AlgoThatWontCompile.cs Line: 1 Column: 1147 - Type expected","Error AlgoThatWontCompile.cs
        Line: 1 Column: 1152 - Syntax error, ''['' expected","Error AlgoThatWontCompile.cs
        Line: 1 Column: 1152 - Identifier expected; ''is'' is a keyword","Error AlgoThatWontCompile.cs
        Line: 1 Column: 1165 - Syntax error, '','' expected","Error AlgoThatWontCompile.cs
        Line: 1 Column: 1191 - Syntax error, '','' expected"],"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:14:41 GMT
recorded_with: VCR 3.0.3
