---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510437585'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZmM5MzdiNTc3YzIwNGRjNzY3MzllMDBjZWYxZTA1Njk1ZDIwNDdjOWYyMGEyMTVhYjFhNmUxZTA2ODBmZTNiNw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816009","name":"my project","modified":"2017-11-11
        21:57:39","created":"2017-11-11 21:55:12","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P816009-59a165929f06eb1ac2212fd403463192","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"799895","name":"My
        first C# project","modified":"2017-11-10 13:51:31","created":"2017-11-04 23:02:19","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P799895-853c8c787799c4642c9c8b5181581a69","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2402","sref":"refs\/heads\/master","slean":"5f238a5727c77f7b75fb24370c07f99fbcf521fe","sleancloud":"fe358c1589e9ea11d5f9828f7e67120c987111ae","sdescription":"Merge
        pull request #1298 from andrewhart098\/aggregating-consolidators<br\/>TickAggregator","sname":"master","bpublic":"1","itimestamp":"2017-11-10
        22:31:04"}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 21:59:46 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=816009
    headers:
      Timestamp:
      - '1510437586'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YmM1N2ZhYzU0MWIyNDM1M2FiNTI5NmQ5NTNkMjJjMDQ2NTMzNTU1ZGVmOTA3ZWUwNTMyYzU2NzZkN2Y5MmUzNQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sat, 11 Nov 2017 21:59:48 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1510437588'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MjA4M2RkYzUxOWI1ZjdmYWViMzk1NjBhZWQ3MTU3NTU1NWJlNWMxZWNmZDRkNzBhMjMxYTcyYjlkOGIyYzJhMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816024","name":"my project","created":"2017-11-11
        21:59:48","modified":"2017-11-11 21:59:48"}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 21:59:49 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510437589'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NWMxZDhlMmQ0ZjgxMTYyNzJmZjZjZWQxYjg1YjA1YTIyMzRjNzliN2M2YzM4NDQ3Yzg2N2JjMDQ5YjA5ODNlOQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sat, 11 Nov 2017 21:59:50 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=816024&name=BasicAlgo.cs&content=namespace+QuantConnect%0A%7B%0A++++%2F*%0A++++*+++Basic+Template+Algorithm%0A++++*%0A++++*+++The+underlying+QCAlgorithm+class+has+many+methods+which+enable+you+to+use+QuantConnect.%0A++++*+++We+have+explained+some+of+these+here%2C+but+the+full+base+class+can+be+found+at%3A%0A++++*+++https%3A%2F%2Fgithub.com%2FQuantConnect%2[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=816024&name=BasicAlgo.cs&content=namespace+QuantConnect%0A%7B%0A++++%2F*%0A++++*+++Basic+Template+Algorithm%0A++++*%0A++++*+++The+underlying+QCAlgorithm+class+has+many+methods+which+enable+you+to+use+QuantConnect.%0A++++*+++We+have+explained+some+of+these+here%2C+but+the+full+base+class+can+be+found+at%3A%0A++++*+++https%3A%2F%2Fgithub.com%2FQuantConnect%2[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/compile/create
    body:
      encoding: UTF-8
      string: projectId=816024
    headers:
      Timestamp:
      - '1510437593'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MGNhOWZhOTFlNzMwZGIyYTY0NjNjNmZmYTU2MGU0Yzg1NDRiNGI5MDRiMWQ1YTU2MGY4NzdmY2ZmOTk0OTRhNw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"compileId":"e27a95da399a1c736616424c97da9d7e-95765c349ccdab6be3ee11a1406fbcb2","state":"InQueue","success":true}'
  recorded_at: Sat, 11 Nov 2017 21:59:54 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/compile/read?compileId=e27a95da399a1c736616424c97da9d7e-95765c349ccdab6be3ee11a1406fbcb2&projectId=816024
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510437594'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MTUxNmUzODg0MmE4NmJjYTY4OWZkMjViZjMwMDUzYmIxZjgyZjI2NmMzMDMzNmQyZWQ4YWNjM2JlNjNhOGY0MA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"compileId":"e27a95da399a1c736616424c97da9d7e-95765c349ccdab6be3ee11a1406fbcb2","state":"BuildSuccess","logs":["Build
        Request Successful for Project ID: 816024, with CompileID: e27a95da399a1c736616424c97da9d7e-95765c349ccdab6be3ee11a1406fbcb2,
        Lean Version: 2.4.0.1.2402"],"success":true}'
  recorded_at: Sat, 11 Nov 2017 21:59:55 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/backtests/create
    body:
      encoding: UTF-8
      string: projectId=816024&compileId=e27a95da399a1c736616424c97da9d7e-95765c349ccdab6be3ee11a1406fbcb2&backtestName=backtest-e27a95da399a1c736616424c97da9d7e-95765c349ccdab6be3ee11a1406fbcb2
    headers:
      Timestamp:
      - '1510437595'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MDE2YWZiMDVmMTJlMDdiYWZlYjAxYWRkNjMzMWI5YTkzYTk0YWVhMjQyYzdlMDgxZmUwZDZjN2M0Yzk4MWViNQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"backtestId":"bde60eb96ce129fff3d93a4428606ab8","name":"backtest-e27a95da399a1c736616424c97da9d7e-95765c349ccdab6be3ee11a1406fbcb2","completed":false,"progress":0,"result":null,"success":true}'
  recorded_at: Sat, 11 Nov 2017 21:59:57 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/backtests/read?compileId=bde60eb96ce129fff3d93a4428606ab8&projectId=816024
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510437597'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NzZlN2I0ZTRkYmQ3NjBlZTZkM2E1ODc2MjM0ODA3ZmJkYzhjOTAwZWU3M2VmMGRhMDhhYTc4MTNjMzFiMmRlMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"backtests":[{"backtestId":"bde60eb96ce129fff3d93a4428606ab8","name":"backtest-e27a95da399a1c736616424c97da9d7e-95765c349ccdab6be3ee11a1406fbcb2","note":null,"completed":false,"progress":"0","result":null}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 21:59:59 GMT
[...]
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/backtests/read?compileId=bde60eb96ce129fff3d93a4428606ab8&projectId=816024
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510437607'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6OTkzZTFmNjJkNzU4ODRlYjg1OTRjMTUxOTU3Nzk3NGM5OWNiNTNjYzUxYTQ5ZjVlYjkwODczY2E5NTQ1MGRhZg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"backtests":[{"backtestId":"bde60eb96ce129fff3d93a4428606ab8","name":"backtest-e27a95da399a1c736616424c97da9d7e-95765c349ccdab6be3ee11a1406fbcb2","note":null,"completed":true,"progress":"0.03","result":null}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:00:08 GMT
recorded_with: VCR 3.0.3
