---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1512340097'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NGFkYWYzMGQ3MTA1NmQ3NTI3MmMxNDMyODhkMmQ4NTFiZTM1ZGUxNGMyZjlkMmRmMzhhODY5M2Y4NjRiNTU4ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"879871","name":"my project","modified":"2017-12-03
        22:27:35","created":"2017-12-03 22:27:35","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2520","owner":true,"channelId":"P879871-62a846bbf2570b1cf1093c249ac35f78","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"799895","name":"My
        first C# project","modified":"2017-11-12 12:03:19","created":"2017-11-04 23:02:19","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2520","owner":true,"channelId":"P799895-853c8c787799c4642c9c8b5181581a69","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2520","sref":"refs\/heads\/master","slean":"c727c16c685229921dd42b143fbcf6b808b1f697","sleancloud":"6613787aab4ab5ff7de7da42b086e0e843396cd9","sdescription":"Upgrades
        to backend QuantConnect operations","sname":"master","bpublic":"1","itimestamp":"2017-11-30
        23:16:22"}],"success":true}'
  recorded_at: Sun, 03 Dec 2017 22:28:17 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=879871
    headers:
      Timestamp:
      - '1512340097'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NGFkYWYzMGQ3MTA1NmQ3NTI3MmMxNDMyODhkMmQ4NTFiZTM1ZGUxNGMyZjlkMmRmMzhhODY5M2Y4NjRiNTU4ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sun, 03 Dec 2017 22:28:18 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1512340098'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YTVlMTJmZDdmM2FkNWZmYmRjN2VhMjhlMmQzOWI1NTI0OGMwY2EzMzBkOGQ5ZTEzYzI2MTkyYzBjYWMyZTMwMA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"879875","name":"my project","created":"2017-12-03
        22:28:19","modified":"2017-12-03 22:28:19"}],"success":true}'
  recorded_at: Sun, 03 Dec 2017 22:28:20 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1512340100'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6Y2UwMjhiZTZiNWQzYTk5NDFlN2Y4NmFlNWNiNjlkMDg3NTA3MTU4YmZmYWI3NWQzODMwMjIwOWExMzFkNWM1MA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sun, 03 Dec 2017 22:28:21 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=879875&name=file_1.cs&content=file+1+contents...
    headers:
      Timestamp:
      - '1512340101'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NThhODg4Y2FmMjcxNmJiOTU2NWEzNDRjZTU3ODAzMzgyOTllZGU4NTNkYjE5ZWY0YWRmMTE0ZTRmNDg1YWU5OA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["File not found ''name''=file_1.cs"],"success":false}'
  recorded_at: Sun, 03 Dec 2017 22:28:23 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=879875&name=file_1.cs&content=file+1+contents...
    headers:
      Timestamp:
      - '1512340103'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MTA0MWEzYzY0ZWIwNTQxZjk5MzE3MTgzMDg5ZGI2YTljYTFmZTc2NzQ4ZDEyOTFhN2JjYTA1NDhhYmMxMTA0NA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_1.cs","content":"file 1 contents...","modified":"2017-12-03
        22:28:24"}],"success":true}'
  recorded_at: Sun, 03 Dec 2017 22:28:24 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/read
    body:
      encoding: UTF-8
      string: projectId=879875&name=file_1.cs
    headers:
      Timestamp:
      - '1512340106'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YzNmZmI0M2NlYjIyZTM4ZGI3MDc2NTE1NDA2OGU5Njk5YjExNjU1Y2U2YTljMDVhNzg0NDQ0NTJmY2M1YzNiYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_1.cs","content":"file 1 contents...","modified":"2017-12-03
        22:28:24","open":false}],"success":true}'
  recorded_at: Sun, 03 Dec 2017 22:28:27 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/read
    body:
      encoding: UTF-8
      string: projectId=879875&name=file_2.cs
    headers:
      Timestamp:
      - '1512340107'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YzhkZWNjNDc5N2ViZTQ0MjliODcwNzZkOTQ0YWU5MzQ2MTg1Mjg2OGYxN2ViMjQ4YzJkYzBjYjIxMDNmZmViYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_2.cs","content":"file 2 contents...","modified":"2017-12-03
        22:28:26","open":false}],"success":true}'
  recorded_at: Sun, 03 Dec 2017 22:28:28 GMT
recorded_with: VCR 3.0.3
