---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510437723'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6OTg2ZmY2ZjBhZDU4NTI1ZmY4OTY5YzRlNjE2N2UwNGJmZjY2NjE4MTgyZjliNDAxMDRhYjU3NThmOTkyZWY3MA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816030","name":"my project","modified":"2017-11-11
        22:01:58","created":"2017-11-11 22:01:58","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P816030-58a4d506c18017c96ad0463cfa842974","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"799895","name":"My
        first C# project","modified":"2017-11-10 13:51:31","created":"2017-11-04 23:02:19","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P799895-853c8c787799c4642c9c8b5181581a69","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2402","sref":"refs\/heads\/master","slean":"5f238a5727c77f7b75fb24370c07f99fbcf521fe","sleancloud":"fe358c1589e9ea11d5f9828f7e67120c987111ae","sdescription":"Merge
        pull request #1298 from andrewhart098\/aggregating-consolidators<br\/>TickAggregator","sname":"master","bpublic":"1","itimestamp":"2017-11-10
        22:31:04"}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:04 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=816030
    headers:
      Timestamp:
      - '1510437724'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MTc5MzUzODQwNGNjY2Q3YzhjZTdiNDRkYTM2MDg5YmI5ZWU2NjJmZWVhMzRmOTI0OGIyYjg0Njg5YTliOWIwMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:05 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1510437725'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NTZhNjBkN2E2Yzg5ODU3OGVjNDM5NjVkNzRmOTRlOGFlMzcxOWE0OTM1NDA1NTFlYjM5NzRhYThmMGYyM2UzNQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816031","name":"my project","created":"2017-11-11
        22:02:06","modified":"2017-11-11 22:02:06"}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:08 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510437728'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NTBiOTBlN2M4MmY0ZjJlZTljZGRhYjRkZTRlZTVhMmQ3ZmEwZDI1NjAyMzMzYzc4MDQyZWVhYzQzYjZkM2EyMA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:08 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=816031&name=BasicAlgo.cs&content=namespace+QuantConnect%0A%7B%0A++++%2F*%0A++++*+++Basic+Template+Algorithm%0A++++*%0A++++*+++The+underlying+QCAlgorithm+class+has+many+methods+which+enable+you+to+use+QuantConnect.%0A++++*+++We+have+explained+some+of+these+here%2C+but+the+full+base+class+can+be+found+at%3A%0A++++*+++https%3A%2F%2Fgithub.com%2FQuantConnect%2[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=816031&name=BasicAlgo.cs&content=namespace+QuantConnect%0A%7B%0A++++%2F*%0A++++*+++Basic+Template+Algorithm%0A++++*%0A++++*+++The+underlying+QCAlgorithm+class+has+many+methods+which+enable+you+to+use+QuantConnect.%0A++++*+++We+have+explained+some+of+these+here%2C+but+the+full+base+class+can+be+found+at%3A%0A++++*+++https%3A%2F%2Fgithub.com%2FQuantConnect%2[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/compile/create
    body:
      encoding: UTF-8
      string: projectId=816031
    headers:
      Timestamp:
      - '1510437731'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MWRlNDJiNDEzYmM5YzBiNTk1MTg3NzI4MWYwZGJlZTE4NmJjNzk4ZTJlMmEzZTdmODhlOGEzMzE0Y2QwNWFhNg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"compileId":"d23042466bcb4e18f19265feed0fc262-dc68bfd0e7cbe7b7633a21ced301def5","state":"InQueue","success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:11 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/compile/read?compileId=d23042466bcb4e18f19265feed0fc262-dc68bfd0e7cbe7b7633a21ced301def5&projectId=816031
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510437731'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MWRlNDJiNDEzYmM5YzBiNTk1MTg3NzI4MWYwZGJlZTE4NmJjNzk4ZTJlMmEzZTdmODhlOGEzMzE0Y2QwNWFhNg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"compileId":"d23042466bcb4e18f19265feed0fc262-dc68bfd0e7cbe7b7633a21ced301def5","state":"BuildSuccess","logs":["Build
        Request Successful for Project ID: 816031, with CompileID: d23042466bcb4e18f19265feed0fc262-dc68bfd0e7cbe7b7633a21ced301def5,
        Lean Version: 2.4.0.1.2402"],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:13 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/backtests/create
    body:
      encoding: UTF-8
      string: projectId=816031&compileId=d23042466bcb4e18f19265feed0fc262-dc68bfd0e7cbe7b7633a21ced301def5&backtestName=backtest-d23042466bcb4e18f19265feed0fc262-dc68bfd0e7cbe7b7633a21ced301def5
    headers:
      Timestamp:
      - '1510437733'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NWI1Y2FlZWE3NGVlMGM3NTA0ZTIyNmE4Y2RhYmM4ZWMzOTU2N2EzYmRiODVmYzIxMzA0NjMyMTVkMjcxOGZjYw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"backtestId":"831585a66f08925d5b4bea2ff8fc72bd","name":"backtest-d23042466bcb4e18f19265feed0fc262-dc68bfd0e7cbe7b7633a21ced301def5","completed":false,"progress":0,"result":null,"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:16 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/backtests/read?compileId=831585a66f08925d5b4bea2ff8fc72bd&projectId=816031
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510437736'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ODVjNGNlNmY2ZTk1NjAzZGEwNDk1M2Y5YjM1N2Q4ODZkYTQ5MTdjMTdmNDM2N2ZhYWRiYzY3YTZhNzJlNmIyMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"backtests":[{"backtestId":"831585a66f08925d5b4bea2ff8fc72bd","name":"backtest-d23042466bcb4e18f19265feed0fc262-dc68bfd0e7cbe7b7633a21ced301def5","note":null,"completed":false,"progress":"0","result":null}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:17 GMT
[...]
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/backtests/read?compileId=831585a66f08925d5b4bea2ff8fc72bd&projectId=816031
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510437747'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZTIzZmQ3NDIzMzhiZTNiOWU2NDgwM2M1Yjg5M2E5MWUxOTBhNTZhNWI5ODFhZWI5Nzk5ZDA3ZTY5MTU2ZmM4Mw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"backtests":[{"backtestId":"831585a66f08925d5b4bea2ff8fc72bd","name":"backtest-d23042466bcb4e18f19265feed0fc262-dc68bfd0e7cbe7b7633a21ced301def5","note":null,"completed":true,"progress":"0.06","result":null}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:27 GMT
recorded_with: VCR 3.0.3
