---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1514221882'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NTM5MTFjNDliZTBlYjkyODMwNjEzYTliY2Q2M2U3MmRhM2NkOWQwNjg1Njc0ZDBkMWI4NTQzYzE3OWY3ZGY0NA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"947480","name":"my project","modified":"2017-12-25
        17:10:53","created":"2017-12-25 17:10:45","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2731","owner":true,"channelId":"P947480-5064fd22b3251d223f122c0684914719","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"947315","name":"
        Basic Template Algorithm","modified":"2017-12-25 15:33:29","created":"2017-12-25
        15:32:15","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2731","owner":true,"channelId":"P947315-f1344c670c20c42f306bf09e7b542bb3","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2731","sref":"refs\/heads\/master","slean":"721972c6b67ffd87efee0a8f01f0addf28426c31","sleancloud":"d66d27cb78b3fe9feb83545783c50588a4518b22","sdescription":"Merge
        pull request #1432 from StefanoRaggi\/ib-moc-fix<br\/>Fix IB error with Market
        On Close (MOC) orders","sname":"master","bpublic":"1","itimestamp":"2017-12-23
        00:48:34"}],"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:11:23 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=947480
    headers:
      Timestamp:
      - '1514221883'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NmJmMmU4MjUzMzVmZDk3OGI2ODZlNWQ2M2I1MTU3MDYyZjdjNTZlMzlmNDRkN2JjNDVhMmNhYjBjYTE1M2JkOA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:11:23 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1514221883'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NmJmMmU4MjUzMzVmZDk3OGI2ODZlNWQ2M2I1MTU3MDYyZjdjNTZlMzlmNDRkN2JjNDVhMmNhYjBjYTE1M2JkOA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"947482","name":"my project","created":"2017-12-25
        17:11:24","modified":"2017-12-25 17:11:24"}],"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:11:26 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1514221886'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NmQ3YjRlYjQ1MGE5NjZhYzllNmY2MTgyOTE4ZmM4OTgyYThkNTM5ZmY2NjI1YTE1NGMzMjYwNTM0MmU5YzA3Mg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:11:26 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=947482&name=file_1.cs&content=file+1+contents...
    headers:
      Timestamp:
      - '1514221887'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6N2ExZmMyZmU5OGJlYzJhZTIzOTFhZDgwNmExOTNhNDk1YmFjM2Y3YmY2ODczMDZhYjE3Y2ExNmViZTgyZDIzNw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["File not found ''name''=file_1.cs"],"success":false}'
  recorded_at: Mon, 25 Dec 2017 17:11:28 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=947482&name=file_1.cs&content=file+1+contents...
    headers:
      Timestamp:
      - '1514221888'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MWVlMTU2N2E5YjE0Y2NkNGIzOWJlNTYwZmYyNTY3MjFjYzFiNWZhMzQyYjc2ZDk3NTAzNDljY2FhMDM5YWNiMw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_1.cs","content":"file 1 contents...","modified":"2017-12-25
        17:11:29"}],"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:11:28 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=947482&name=file_2.cs&content=file+2+contents...
    headers:
      Timestamp:
      - '1514221889'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZGE2ZjRkMzkxZjc0Mjg5ZGM2N2NjNThmMGVmMjRiNTJhZjFiNjcxNjkyOGY4MGU2MDdhZmQwMzU2MjA2NzAxYg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_2.cs","content":"file 2 contents...","modified":"2017-12-25
        17:11:30"}],"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:11:30 GMT
recorded_with: VCR 3.0.3
