---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510306199'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6Yzc2YWE4NGFlZWFhM2I5Y2ExOTE3ZDdhOWM2ZTM3YjE0NTJmNjQyYTQxZDllY2IyYzQ4NzYyNGM2NjBiMzU1OQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:30:00 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510306200'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6OWYwYTNiN2I1NTQ4NTQ2MzhlZTc1Y2QwN2IxYzIyMjdhMjUxZWQzNjc0OWQ4ODIyOGFkNjQ5OGZiNzA1YTRiYg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"813005","name":"my project","modified":"2017-11-10
        09:29:46","created":"2017-11-10 09:29:46","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2396","owner":true,"channelId":"P813005-b704c868953d2a506ae2fbea39f3787d","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"799895","name":"My
        first C# project","modified":"2017-11-07 09:42:57","created":"2017-11-04 23:02:19","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2396","owner":true,"channelId":"P799895-853c8c787799c4642c9c8b5181581a69","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2396","sref":"refs\/heads\/master","slean":"f118ac6baa58e71eccd5ebd9e7816c555b4b5e94","sleancloud":"94de5b6e0c8425fef45d5ec4791375e92b23c8d3","sdescription":"Merge
        pull request #1299 from StefanoRaggi\/future-margin-model-fix<br\/>Fix decimal
        precision issue in FutureMarginModel.GetMaintenanceMargin","sname":"master","bpublic":"1","itimestamp":"2017-11-09
        23:59:30"}],"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:30:01 GMT
recorded_with: VCR 3.0.3
