---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1514221843'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NzExODdiNzc4YzA5MDI4MzkyN2Q5NTQ3MGY4MjhiNGUzZmEyNzkwODlhYmY5YzYwZjU0ZWFhNWVhMjQ3OTA4NQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"947476","name":"my project","modified":"2017-12-25
        17:07:42","created":"2017-12-25 17:07:42","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2731","owner":true,"channelId":"P947476-e8902bf8b8e624bab6733f4882c7f686","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"947315","name":"
        Basic Template Algorithm","modified":"2017-12-25 15:33:29","created":"2017-12-25
        15:32:15","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2731","owner":true,"channelId":"P947315-f1344c670c20c42f306bf09e7b542bb3","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2731","sref":"refs\/heads\/master","slean":"721972c6b67ffd87efee0a8f01f0addf28426c31","sleancloud":"d66d27cb78b3fe9feb83545783c50588a4518b22","sdescription":"Merge
        pull request #1432 from StefanoRaggi\/ib-moc-fix<br\/>Fix IB error with Market
        On Close (MOC) orders","sname":"master","bpublic":"1","itimestamp":"2017-12-23
        00:48:34"}],"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:10:43 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=947476
    headers:
      Timestamp:
      - '1514221843'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NzExODdiNzc4YzA5MDI4MzkyN2Q5NTQ3MGY4MjhiNGUzZmEyNzkwODlhYmY5YzYwZjU0ZWFhNWVhMjQ3OTA4NQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:10:44 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1514221844'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6OWU4NDQ5YzM0YmRjODRmYjgzOTI3NDFiZjcxMzUzZDIzODU4YzBhMTJiM2JiMzJlOWVhOTFmMjQ5MzI2ODkwYw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"947480","name":"my project","created":"2017-12-25
        17:10:45","modified":"2017-12-25 17:10:45"}],"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:10:46 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1514221846'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZmUxNGIzNjMwZGY1Y2MwYzgzNmEwODI1YTI0OTQzNzIwNDhhNWI2MGRhY2I3ZmYzMjQ1MzJlYWI2NzM0YzI0Mg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:10:47 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=947480&name=file_1.cs&content=file+1+contents...
    headers:
      Timestamp:
      - '1514221847'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YzQ2ODk3MDFkYWIyYjliNmZjNTk0NmI0NTA1ODc5MDI5YmU3MzEwMDkwYTQwMmZhZTFjM2UxNjc5MTc5YTg4OA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["File not found ''name''=file_1.cs"],"success":false}'
  recorded_at: Mon, 25 Dec 2017 17:10:48 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=947480&name=file_1.cs&content=file+1+contents...
    headers:
      Timestamp:
      - '1514221848'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZGQ1MDI0MjY4OTA0NGUwOWU2MTUyM2QzODdiY2ViNTYzZDlkMjc1NTQ2NmVlNjljMzI3NDQyYjRlYzdkMWYzZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_1.cs","content":"file 1 contents...","modified":"2017-12-25
        17:10:49"}],"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:10:49 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=947480&name=file_2.cs&content=file+2+contents...
    headers:
      Timestamp:
      - '1514221852'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6N2ZjYzRlMzVjZDdlM2I0N2JhMzg1MjQxNGFjNWRlZDlmNTNjZmE3MDVmYTk1NjVkNTUxZDk0MzA3MTE4ZjE2Mg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_2.cs","content":"file 2 contents...","modified":"2017-12-25
        17:10:53","open":false}],"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:10:52 GMT
recorded_with: VCR 3.0.3
