---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510306159'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NjhkMzM1NWU2YzVlMjBlOGNhZmUyNGIzNjQ0NWMyMWY0ODRlNTI4MTRkNTVkMjNmODgyNjU2ZjZkYTI3ZjZjZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"813002","name":"my project","modified":"2017-11-10
        09:29:04","created":"2017-11-10 09:28:58","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2396","owner":true,"channelId":"P813002-c47101dde9e5cb7501a10a0e351ea8a5","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"799895","name":"My
        first C# project","modified":"2017-11-07 09:42:57","created":"2017-11-04 23:02:19","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2396","owner":true,"channelId":"P799895-853c8c787799c4642c9c8b5181581a69","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2396","sref":"refs\/heads\/master","slean":"f118ac6baa58e71eccd5ebd9e7816c555b4b5e94","sleancloud":"94de5b6e0c8425fef45d5ec4791375e92b23c8d3","sdescription":"Merge
        pull request #1299 from StefanoRaggi\/future-margin-model-fix<br\/>Fix decimal
        precision issue in FutureMarginModel.GetMaintenanceMargin","sname":"master","bpublic":"1","itimestamp":"2017-11-09
        23:59:30"}],"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:29:20 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=813002
    headers:
      Timestamp:
      - '1510306160'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NTc4MDRjZmJkNWRkODQ2MWEzMTRjZjUxODU0MGQ0NzAzNTYxYzJmNmY4MTBkNGEyNzNiZWJjMWVmNDVhMmQ0OA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:29:21 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1510306161'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZWZlM2Y3NTcyNmEwZmQ0N2FiMDIwOTVhZjBmZjNkZTY1NzllMGU3MGYyZjU5ZTQzZjU1ODIyZjM4NDdkMzAyNA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"813003","name":"my project","created":"2017-11-10
        09:29:22","modified":"2017-11-10 09:29:22"}],"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:29:23 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510306163'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZTE0MTE0NmUyZjFmZTljM2IzYTg1YjMwOTdkOTEzNDMzOGY3MTM0ZDc3YjNiNGY2Mjg4ZDEwZWM5ODdkMTJhNw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:29:24 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=813003&name=file_1.cs&content=file+1+contents...%0A
    headers:
      Timestamp:
      - '1510306165'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YTcyMWM0OGEwNmYyOTdiNzE3YzVkYWNiMmIyODMzNDFjOTM3MDc4ZmYzMjZjZjQwNWI3NjYwNDJiYTQ3NjU4Yw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["File not found ''name''=file_1.cs"],"success":false}'
  recorded_at: Fri, 10 Nov 2017 09:29:25 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=813003&name=file_1.cs&content=file+1+contents...%0A
    headers:
      Timestamp:
      - '1510306165'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YTcyMWM0OGEwNmYyOTdiNzE3YzVkYWNiMmIyODMzNDFjOTM3MDc4ZmYzMjZjZjQwNWI3NjYwNDJiYTQ3NjU4Yw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_1.cs","content":"file 1 contents...","modified":"2017-11-10
        09:29:26"}],"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:29:26 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=813003&name=file_2.cs&content=file+2+contents...%0A
    headers:
      Timestamp:
      - '1510306169'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ODUzYjY4YjE4ZTk1MDNhN2M4OTZlYmJlOTJiZjBkODRmYjM4MTg3YjkwMmU5ZDNkM2JjMGMwZTc1ZDYxNDQ2Nw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_2.cs","content":"file 2 contents...","modified":"2017-11-10
        09:29:29","open":false}],"success":true}'
  recorded_at: Fri, 10 Nov 2017 09:29:29 GMT
recorded_with: VCR 3.0.3
