---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510437761'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MDRjZjQzZWFlMzcxMGEyYmEwYmNlOGY2MTBiZjI0MTAyZWIwZDYwYWUwMTU1MzVhNTE1ZWM3OGZlMzBhNjYyZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816034","name":"my project","modified":"2017-11-11
        22:02:34","created":"2017-11-11 22:02:34","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P816034-7f77af09297940a6c2f4f1bd1d9aa496","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"799895","name":"My
        first C# project","modified":"2017-11-10 13:51:31","created":"2017-11-04 23:02:19","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P799895-853c8c787799c4642c9c8b5181581a69","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2402","sref":"refs\/heads\/master","slean":"5f238a5727c77f7b75fb24370c07f99fbcf521fe","sleancloud":"fe358c1589e9ea11d5f9828f7e67120c987111ae","sdescription":"Merge
        pull request #1298 from andrewhart098\/aggregating-consolidators<br\/>TickAggregator","sname":"master","bpublic":"1","itimestamp":"2017-11-10
        22:31:04"}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:42 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=816034
    headers:
      Timestamp:
      - '1510437762'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YzdkNzk2NTM4YzJmMTZjOWZmYTM2ZTA0NTNmM2U4ZDI2Y2Y0NzQ2MzE2NTkwNGRkNmVlY2JiNTM3MzI5M2IwMw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:43 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1510437763'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MzhhNDhjMjI3YzYyOTJlNmU1NjRmYTBjY2QwMmY2YTg1ZTRiNDQwYTA0NmEyZDY3MjJmM2Q1NTU0NDRlNmM3Yg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816035","name":"my project","created":"2017-11-11
        22:02:44","modified":"2017-11-11 22:02:44"}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:46 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510437766'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MDUwYWNiYzg3NzRhMTRiZjg3YjQ5Y2IzZTZiZjMyNDMyOTgxOGE1MGYwMDgzYTljMTEyNTc1MDM0N2U2YWI3Yg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:47 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=816035&name=file_1.cs&content=file+1+contents...%0A
    headers:
      Timestamp:
      - '1510437768'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZDE1ODQ2ODkzNTkwNTg5ZDM2OGQyODlkZjI5MWUzNWMzNjY1Y2JlYzVkYzI5MzEzYTgwODFiNmM3ODJkNWU4OQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["File not found ''name''=file_1.cs"],"success":false}'
  recorded_at: Sat, 11 Nov 2017 22:02:48 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=816035&name=file_1.cs&content=file+1+contents...%0A
    headers:
      Timestamp:
      - '1510437768'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZDE1ODQ2ODkzNTkwNTg5ZDM2OGQyODlkZjI5MWUzNWMzNjY1Y2JlYzVkYzI5MzEzYTgwODFiNmM3ODJkNWU4OQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_1.cs","content":"file 1 contents...","modified":"2017-11-11
        22:02:49"}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:49 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=816035&name=file_2.cs&content=file+2+contents...%0A
    headers:
      Timestamp:
      - '1510437771'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6Y2JkODE3ODE0NGYyMTMzNzM5MmQ1YmNkOTE2MmY1YTUxNGM4YWFjOGM4MzJhNTcyMTQzYTdjZGY3YWU5MDNmOQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_2.cs","content":"file 2 contents...","modified":"2017-11-11
        22:02:52","open":false}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:52 GMT
recorded_with: VCR 3.0.3
