---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510484369'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6N2ZlODg3ZTdlMTU5ZmY3YzBmMGI5ODhiMWRiODE2MDQ5ODExNzFlMmY1YjUxZTRmYzZjYTY0NzAyYzljNzExNA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816903","name":"my project","modified":"2017-11-12
        10:58:59","created":"2017-11-12 10:58:59","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P816903-56b59b7a0c0fa9a9f138b43773334774","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"799895","name":"My
        first C# project","modified":"2017-11-10 13:51:31","created":"2017-11-04 23:02:19","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P799895-853c8c787799c4642c9c8b5181581a69","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2402","sref":"refs\/heads\/master","slean":"5f238a5727c77f7b75fb24370c07f99fbcf521fe","sleancloud":"fe358c1589e9ea11d5f9828f7e67120c987111ae","sdescription":"Merge
        pull request #1298 from andrewhart098\/aggregating-consolidators<br\/>TickAggregator","sname":"master","bpublic":"1","itimestamp":"2017-11-10
        22:31:04"}],"success":true}'
  recorded_at: Sun, 12 Nov 2017 10:59:29 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=816903
    headers:
      Timestamp:
      - '1510484369'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6N2ZlODg3ZTdlMTU5ZmY3YzBmMGI5ODhiMWRiODE2MDQ5ODExNzFlMmY1YjUxZTRmYzZjYTY0NzAyYzljNzExNA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sun, 12 Nov 2017 10:59:30 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1510484370'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YzVjN2I0MzBiOWQ3ZmViZTEwNjlhMDE1ZDE1ODRmYTk0M2I2MDM4YWIxMzhjYTM0NjBjM2VjMWY3MTI3ODE0Mg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816904","name":"my project","created":"2017-11-12
        10:59:31","modified":"2017-11-12 10:59:31"}],"success":true}'
  recorded_at: Sun, 12 Nov 2017 10:59:32 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510484372'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NTcyZjZiZjgxYzc5YWQ5NGUwZDYzMTczMGI0MTRkMGZkODQ5NGQ3MWRlNWU3MDhkMWUxYzY1NWRhNzY3YWE4Mw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sun, 12 Nov 2017 10:59:33 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=816904&name=AlgoThatWontCompile.cs&content=this+is+not+valid+csharp+BUAHAHAHA%0A
    headers:
      Timestamp:
      - '1510484373'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZWNmMWI5Mzg1NmE1MDRhN2RiMDkzMmY0NDVhZDliNzE2OTc0NWI3NjY1MTEwZWYwNDA4NDk0NmFiNDhmODNjYw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["File not found ''name''=AlgoThatWontCompile.cs"],"success":false}'
  recorded_at: Sun, 12 Nov 2017 10:59:34 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=816904&name=AlgoThatWontCompile.cs&content=this+is+not+valid+csharp+BUAHAHAHA%0A
    headers:
      Timestamp:
      - '1510484374'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YzNkNTA3YmMyMzFiYWYxYTQzOTZhZTEyNjhjNjc2ZDM5OTY2MDRiOTgwZmI1MWVhZDAxY2M2MTJjNGNkZmVjYw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"AlgoThatWontCompile.cs","content":"this is not valid
        csharp BUAHAHAHA","modified":"2017-11-12 10:59:35"}],"success":true}'
  recorded_at: Sun, 12 Nov 2017 10:59:35 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/compile/create
    body:
      encoding: UTF-8
      string: projectId=816904
    headers:
      Timestamp:
      - '1510484375'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6Yjk4MGJhMDdkZjJjYWQ5MDgzNmI5YWY0Y2YyYjkwNGY2MmM1ODc5MTRkMmUzMWQ2NGJhYmI0OTcwMGY0NmRjYg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"compileId":"755b666c1540adcdc7b44f2b1199da63-1be39c2d29df6f3979c9b92c25774636","state":"InQueue","success":true}'
  recorded_at: Sun, 12 Nov 2017 10:59:36 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/compile/read?compileId=755b666c1540adcdc7b44f2b1199da63-1be39c2d29df6f3979c9b92c25774636&projectId=816904
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510484376'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6OWY4ZGI0ZTU1NDcxZjFkOWNmODc4Mzc1YmFmMGYyZDU2NjA3N2ExMDgwODFmZTZiMmFmNTEyOWEwODE0ZTMzZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"compileId":"755b666c1540adcdc7b44f2b1199da63-1be39c2d29df6f3979c9b92c25774636","state":"BuildError","logs":["Error
        AlgoThatWontCompile.cs Line: 1 Column: 871 - Type expected","Error AlgoThatWontCompile.cs
        Line: 1 Column: 876 - Syntax error, ''['' expected","Error AlgoThatWontCompile.cs
        Line: 1 Column: 876 - Identifier expected; ''is'' is a keyword","Error AlgoThatWontCompile.cs
        Line: 1 Column: 889 - Syntax error, '','' expected","Error AlgoThatWontCompile.cs
        Line: 1 Column: 915 - Syntax error, '','' expected"],"success":true}'
  recorded_at: Sun, 12 Nov 2017 10:59:37 GMT
recorded_with: VCR 3.0.3
