---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510437772'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MjQ5OWQ3YTA1YThmYWI5Y2RmMWY1YzQ5NWE2Y2Q3ODZlNmQwMTEyMmEzOGRhNWQ4NTA3MjkzZTFlMTYzZWVhYg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816035","name":"my project","modified":"2017-11-11
        22:02:52","created":"2017-11-11 22:02:44","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P816035-1cef53e1bceb2ece3598ebf77568401e","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"799895","name":"My
        first C# project","modified":"2017-11-10 13:51:31","created":"2017-11-04 23:02:19","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P799895-853c8c787799c4642c9c8b5181581a69","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2402","sref":"refs\/heads\/master","slean":"5f238a5727c77f7b75fb24370c07f99fbcf521fe","sleancloud":"fe358c1589e9ea11d5f9828f7e67120c987111ae","sdescription":"Merge
        pull request #1298 from andrewhart098\/aggregating-consolidators<br\/>TickAggregator","sname":"master","bpublic":"1","itimestamp":"2017-11-10
        22:31:04"}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:52 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=816035
    headers:
      Timestamp:
      - '1510437772'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MjQ5OWQ3YTA1YThmYWI5Y2RmMWY1YzQ5NWE2Y2Q3ODZlNmQwMTEyMmEzOGRhNWQ4NTA3MjkzZTFlMTYzZWVhYg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:53 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1510437773'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZDgwZTA1NWYzZjcyOTk0N2E5MWQwNDgyZTlmOWQzYjI0MjBkMjdlNjRlMTBlMDQ4YzA4ZWE3MjlhYmU2MzNiMA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816037","name":"my project","created":"2017-11-11
        22:02:54","modified":"2017-11-11 22:02:54"}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:56 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510437776'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NzlmYzAyYzJlNWFiNThhNTM4YTFjNDc3YTM0MzZkMjU5MzYwMWVhYzdiZDBjYzNjYjc3Mjg5NzMzNTkyZTIxYg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:57 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=816037&name=file_1.cs&content=file+1+contents...%0A
    headers:
      Timestamp:
      - '1510437778'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZjQ3OTAxYjQwNWIyMDhlNzFiZWUxZTg0ZjJiMWJlNWM4YmFiY2EwMWFjYTI4YjFjMTY4MzViMzRkMGE3OTE0NA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["File not found ''name''=file_1.cs"],"success":false}'
  recorded_at: Sat, 11 Nov 2017 22:02:58 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=816037&name=file_1.cs&content=file+1+contents...%0A
    headers:
      Timestamp:
      - '1510437778'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZjQ3OTAxYjQwNWIyMDhlNzFiZWUxZTg0ZjJiMWJlNWM4YmFiY2EwMWFjYTI4YjFjMTY4MzViMzRkMGE3OTE0NA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_1.cs","content":"file 1 contents...","modified":"2017-11-11
        22:02:59"}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:02:59 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=816037&name=file_2.cs&content=file+2+contents...%0A
    headers:
      Timestamp:
      - '1510437780'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YTcwYTIzNzVkZmY1ZjJkYzg5YmU0ODE2ZjBiNjRlOWE0MjlhM2RmMDM5MjY0OTJjMjdiNjc4MDZiZjExMjQ5Mg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_2.cs","content":"file 2 contents...","modified":"2017-11-11
        22:03:01"}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:03:01 GMT
recorded_with: VCR 3.0.3
