---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1514221923'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZDc2NjkyOGJhNTQ0NWYyZjMwMTBkNDg1MWUyNmNkMWIzM2RkNjM5NjgxZmFmODYwMzZjYWE2NDY5Y2ExZjg4YQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"947484","name":"my project","modified":"2017-12-25
        17:12:00","created":"2017-12-25 17:12:00","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2731","owner":true,"channelId":"P947484-4b521874c9f1f6503fbf0b51e5298e0a","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"947315","name":"
        Basic Template Algorithm","modified":"2017-12-25 15:33:29","created":"2017-12-25
        15:32:15","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2731","owner":true,"channelId":"P947315-f1344c670c20c42f306bf09e7b542bb3","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2731","sref":"refs\/heads\/master","slean":"721972c6b67ffd87efee0a8f01f0addf28426c31","sleancloud":"d66d27cb78b3fe9feb83545783c50588a4518b22","sdescription":"Merge
        pull request #1432 from StefanoRaggi\/ib-moc-fix<br\/>Fix IB error with Market
        On Close (MOC) orders","sname":"master","bpublic":"1","itimestamp":"2017-12-23
        00:48:34"}],"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:12:05 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=947484
    headers:
      Timestamp:
      - '1514221925'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YjkzZjNhYTRlZjFkNjc4MDI1ZDYyYzJjMzg4MGY1NThkNDg4M2M1YzI1ZWY0MWM2MTNlZWFhZTZkZDdjMWZhMA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:12:05 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1514221925'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YjkzZjNhYTRlZjFkNjc4MDI1ZDYyYzJjMzg4MGY1NThkNDg4M2M1YzI1ZWY0MWM2MTNlZWFhZTZkZDdjMWZhMA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"947486","name":"my project","created":"2017-12-25
        17:12:06","modified":"2017-12-25 17:12:06"}],"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:12:07 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1514221927'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MzZjZDgxZDcxYjM5NzkzZjljN2EyNWU3ZjA4MjVlMzFlNjc1OTEwODJiZmUyYjI2ZGQwNWQwOTY1MTViYWNhMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:12:08 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=947486&name=BasicAlgo.cs&content=namespace+QuantConnect%0A%7B%0A++++%2F*%0A++++*+++Basic+Template+Algorithm%0A++++*%0A++++*+++The+underlying+QCAlgorithm+class+has+many+methods+which+enable+you+to+use+QuantConnect.%0A++++*+++We+have+explained+some+of+these+here%2C+but+the+full+base+class+can+be+found+at%3A%0A++++*+++https%3A%2F%2Fgithub.com%2FQuantConnect%2[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=947486&name=BasicAlgo.cs&content=namespace+QuantConnect%0A%7B%0A++++%2F*%0A++++*+++Basic+Template+Algorithm%0A++++*%0A++++*+++The+underlying+QCAlgorithm+class+has+many+methods+which+enable+you+to+use+QuantConnect.%0A++++*+++We+have+explained+some+of+these+here%2C+but+the+full+base+class+can+be+found+at%3A%0A++++*+++https%3A%2F%2Fgithub.com%2FQuantConnect%2[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/compile/create
    body:
      encoding: UTF-8
      string: projectId=947486
    headers:
      Timestamp:
      - '1514221930'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6OGYwNGZhZmIzOGY4M2M2NTdiMWZiZjZjZmU2MWQ5NDUwNGU3OGFkMDNhMjg2MGZhYWU1NDYyZjFiNzE4Zjk0MA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"compileId":"6390a2054b3943ef82a93fe9da78db3c-dc68bfd0e7cbe7b7633a21ced301def5","state":"InQueue","success":true}'
  recorded_at: Mon, 25 Dec 2017 17:12:11 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/compile/read?compileId=6390a2054b3943ef82a93fe9da78db3c-dc68bfd0e7cbe7b7633a21ced301def5&projectId=947486
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1514221931'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YWM5YTI0ZmQ1ODE0ZDY1MzM5NmQxYzIyYjNmYTYxMmM3YjJhZDc1MmE4YzI2Y2Y3ODBmMmUxZGE4MWU3YTQ5Yg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"compileId":"6390a2054b3943ef82a93fe9da78db3c-dc68bfd0e7cbe7b7633a21ced301def5","state":"BuildSuccess","logs":["Build
        Request Successful for Project ID: 947486, with CompileID: 6390a2054b3943ef82a93fe9da78db3c-dc68bfd0e7cbe7b7633a21ced301def5,
        Lean Version: 2.4.0.1.2731"],"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:12:11 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/backtests/create
    body:
      encoding: UTF-8
      string: projectId=947486&compileId=6390a2054b3943ef82a93fe9da78db3c-dc68bfd0e7cbe7b7633a21ced301def5&backtestName=backtest-6390a2054b3943ef82a93fe9da78db3c-dc68bfd0e7cbe7b7633a21ced301def5
    headers:
      Timestamp:
      - '1514221931'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YWM5YTI0ZmQ1ODE0ZDY1MzM5NmQxYzIyYjNmYTYxMmM3YjJhZDc1MmE4YzI2Y2Y3ODBmMmUxZGE4MWU3YTQ5Yg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"backtestId":"825de113aa56c6f89e90e753b3a84cbc","name":"backtest-6390a2054b3943ef82a93fe9da78db3c-dc68bfd0e7cbe7b7633a21ced301def5","completed":false,"progress":0,"result":null,"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:12:14 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/backtests/read?backtestId=825de113aa56c6f89e90e753b3a84cbc&projectId=947486
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1514221934'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NDZhNWIyODdhMDczOTgyODU2ZWVmZGQxNjEzOWQ4NjEwOTEyZjM1NzNjM2M5ZjYzMDM5YWVlYjMwZmYzMDk1Yg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"backtestId":"825de113aa56c6f89e90e753b3a84cbc","name":"backtest-6390a2054b3943ef82a93fe9da78db3c-dc68bfd0e7cbe7b7633a21ced301def5","note":null,"completed":false,"progress":"0","result":null,"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:12:15 GMT
[...]
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/backtests/read?backtestId=825de113aa56c6f89e90e753b3a84cbc&projectId=947486
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1514221949'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NjBjZTg0MjhjMGNhMDYwYTEwM2FmMzNhYzc2Y2M3OWQ2MTBkYTQyMzczYWQ4NTZmZjBiNjdjYjIzOWE2M2E3Yw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"backtestId":"825de113aa56c6f89e90e753b3a84cbc","name":"backtest-6390a2054b3943ef82a93fe9da78db3c-dc68bfd0e7cbe7b7633a21ced301def5","note":null,"completed":true,"progress":"0.072","result":{"RollingWindow":[],"TotalPerformance":null,"IsFrameworkAlgorithm":false,"AlphaRuntimeStatistics":{"LongShortRatio":0,"TotalEstimatedAlphaValue":0,"TotalAlphasGenerated":0,"MeanPopulationScore":{"UpdatedTimeUtc":"0001-01-01T00:00:00","Direction":0,"Magnitude":0,"IsFinalScore":false},"RollingAveragedPopulationScore":{"UpdatedTimeUtc":"0001-01-01T00:00:00","Direction":0,"Magnitude":0,"IsFinalScore":false},"MeanPopulationEstimatedAlphaValue":0},"Charts":{"Strategy
        Equity":{"Name":"Strategy Equity","ChartType":0,"Series":{"Equity":{"Name":"Equity","Unit":"$","Index":0,"Values":[{"x":1451797200,"y":25000},{"x":1451883600,"y":25000},{"x":1451917860,"y":24999},{"x":1451933460,"y":24945.736},{"x":1451941200,"y":25070.8445},{"x":1451970000,"y":25070.8445},{"x":1452004260,"y":25106.7667},{"x":1452019860,"y":25119.1537},{"x":1452027600,"y":25125.3472},{"x":1452056400,"y":25125.3472},{"x":1452090660,"y":24769.8408},{"x":1452106260,"y":24798.3309},{"x":1452114000,"y":24798.3309},{"x":1452142800,"y":24798.3309},{"x":1452177060,"y":24358.593},{"x":1452192660,"y":24287.9872},{"x":1452200400,"y":24206.2331},{"x":1452229200,"y":24206.2331},{"x":1452263460,"y":24354.8769},{"x":1452279060,"y":24203.7557},{"x":1452286800,"y":23943.6291},{"x":1452488400,"y":23943.6291},{"x":1452522660,"y":24107.1373},{"x":1452538260,"y":23705.799},{"x":1452546000,"y":23967.1644},{"x":1452574800,"y":23967.1644},{"x":1452609060,"y":24160.4013},{"x":1452624660,"y":24017.951},{"x":1452632400,"y":24157.9239},{"x":1452661200,"y":24157.9239},{"x":1452695460,"y":24253.3037},{"x":1452711060,"y":23768.9726}],"SeriesType":2,"Color":"","ScatterMarkerSymbol":"none"},"Daily
        Performance":{"Name":"Daily Performance","Unit":"%","Index":1,"Values":[{"x":1451779200,"y":0},{"x":1451865600,"y":0.283378},{"x":1451952000,"y":0.2173948},{"x":1452038400,"y":-1.30154},{"x":1452124800,"y":-2.387652},{"x":1452211200,"y":-1.084861},{"x":1452470400,"y":0.09829448},{"x":1452556800,"y":0.7959203}],"SeriesType":3,"Color":"","ScatterMarkerSymbol":"none"}}},"Benchmark":{"Name":"Benchmark","ChartType":0,"Series":{"Benchmark":{"Name":"Benchmark","Unit":"$","Index":0,"Values":[{"x":1451779200,"y":25000},{"x":1451865600,"y":25001.369},{"x":1451952000,"y":25002.738},{"x":1452038400,"y":25004.1071},{"x":1452124800,"y":25005.4763},{"x":1452211200,"y":25006.8456},{"x":1452470400,"y":25010.9538},{"x":1452556800,"y":25012.3234}],"SeriesType":0,"Color":"","ScatterMarkerSymbol":"none"}}}},"Orders":{"1":{"DurationValue":"9999-12-31T23:59:59.9999999","Type":0,"Id":1,"ContingentId":0,"BrokerId":["1"],"Symbol":{"$type":"QuantConnect.Symbol,
        QuantConnect.Common","Value":"SPY","ID":"SPY R735QTJ8XC9X","Permtick":"SPY"},"Price":192.439934792,"PriceCurrency":"USD","Time":"2016-01-04T14:31:00Z","Quantity":129,"Status":3,"Duration":0,"Tag":"","Properties":null,"SecurityType":1,"Direction":0,"AbsoluteQuantity":129,"Value":24824.751588168}},"ProfitLoss":[],"Statistics":[],"RuntimeStatistics":{"Unrealized":"$-1,176.52","Fees":"-$1.00","Net
        Profit":"$-1.00","Return":"-4.93 %","Equity":"$23,731.81"}},"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:12:49 GMT
[...]
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/backtests/read?backtestId=825de113aa56c6f89e90e753b3a84cbc&projectId=947486
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1514221978'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZWFjYzBiYWY1MWMyOGQyOGM2Yjg1NzY0YzYwZmE5NTcwY2VlNWFiNDU3YTU4MWM4MDI1MzIyNTQ0MDIwNTcxMw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"backtestId":"825de113aa56c6f89e90e753b3a84cbc","name":"backtest-6390a2054b3943ef82a93fe9da78db3c-dc68bfd0e7cbe7b7633a21ced301def5","note":null,"completed":true,"progress":"1.05","result":{"RollingWindow":{"M1_20160131":{"TradeStatistics":{"StartDateTime":null,"EndDateTime":null,"TotalNumberOfTrades":0,"NumberOfWinningTrades":0,"NumberOfLosingTrades":0,"TotalProfitLoss":0,"TotalProfit":0,"TotalLoss":0,"LargestProfit":0,"LargestLoss":0,"AverageProfitLoss":0,"AverageProfit":0,"AverageLoss":0,"AverageTradeDuration":"00:00:00","AverageWinningTradeDuration":"00:00:00","AverageLosingTradeDuration":"00:00:00","MaxConsecutiveWinningTrades":0,"MaxConsecutiveLosingTrades":0,"ProfitLossRatio":0,"WinLossRatio":0,"WinRate":0,"LossRate":0,"AverageMAE":0,"AverageMFE":0,"LargestMAE":0,"LargestMFE":0,"MaximumClosedTradeDrawdown":0,"MaximumIntraTradeDrawdown":0,"ProfitLossStandardDeviation":0,"ProfitLossDownsideDeviation":0,"ProfitFactor":0,"SharpeRatio":0,"SortinoRatio":0,"ProfitToMaxDrawdownRatio":0,"MaximumEndTradeDrawdown":0,"AverageEndTradeDrawdown":0,"MaximumDrawdownDuration":"00:00:00","TotalFees":0},"PortfolioStatistics":{"AverageWinRate":0,"AverageLossRate":0,"ProfitLossRatio":0,"WinRate":0,"LossRate":0,"Expectancy":0,"CompoundingAnnualReturn":-0.37127932097593,"Drawdown":0.085,"TotalNetProfit":-0.033336208,"SharpeRatio":-1.7746268187889,"Alpha":-0.11636913113974,"Beta":-15.942893449123,"AnnualStandardDeviation":0.22673730243444,"AnnualVariance":0.051409804315246,"InformationRatio":-1.8533643699233,"TrackingError":0.2267840276377,"TreynorRatio":0.025238461199284},"ClosedTrades":[]},"M1_20160229":{"TradeStatistics":{"StartDateTime":null,"EndDateTime":null,"TotalNumberOfTrades":0,"NumberOfWinningTrades":0,"NumberOfLosingTrades":0,"TotalProfitLoss":0,"TotalProfit":0,"TotalLoss":0,"LargestProfit":0,"LargestLoss":0,"AverageProfitLoss":0,"AverageProfit":0,"AverageLoss":0,"AverageTradeDuration":"00:00:00","AverageWinningTradeDuration":"00:00:00","AverageLosingTradeDuration":"00:00:00","MaxConsecutiveWinningTrades":0,"MaxConsecutiveLosingTrades":0,"ProfitLossRatio":0,"WinLossRatio":0,"WinRate":0,"LossRate":0,"AverageMAE":0,"AverageMFE":0,"LargestMAE":0,"LargestMFE":0,"MaximumClosedTradeDrawdown":0,"MaximumIntraTradeDrawdown":0,"ProfitLossStandardDeviation":0,"ProfitLossDownsideDeviation":0,"ProfitFactor":0,"SharpeRatio":0,"SortinoRatio":0,"ProfitToMaxDrawdownRatio":0,"MaximumEndTradeDrawdown":0,"AverageEndTradeDrawdown":0,"MaximumDrawdownDuration":"00:00:00","TotalFees":0},"PortfolioStatistics":{"AverageWinRate":0,"AverageLossRate":0,"ProfitLossRatio":0,"WinRate":0,"LossRate":0,"Expectancy":0,"CompoundingAnnualReturn":-0.013619000370452,"Drawdown":0.06,"TotalNetProfit":-0.0010763907871704,"SharpeRatio":0.014253683101396,"Alpha":-0.64389330502941,"Beta":33.465244120758,"AnnualStandardDeviation":0.18472154763579,"AnnualVariance":0.034122050160963,"InformationRatio":-0.090397903421874,"TrackingError":0.18458805047346,"TreynorRatio":7.8677519652899e-5},"ClosedTrades":[]},"M1_20160331":{"TradeStatistics":{"StartDateTime":null,"EndDateTime":null,"TotalNumberOfTrades":0,"NumberOfWinningTrades":0,"NumberOfLosingTrades":0,"TotalProfitLoss":0,"TotalProfit":0,"TotalLoss":0,"LargestProfit":0,"LargestLoss":0,"AverageProfitLoss":0,"AverageProfit":0,"AverageLoss":0,"AverageTradeDuration":"00:00:00","AverageWinningTradeDuration":"00:00:00","AverageLosingTradeDuration":"00:00:00","MaxConsecutiveWinningTrades":0,"MaxConsecutiveLosingTrades":0,"ProfitLossRatio":0,"WinLossRatio":0,"WinRate":0,"LossRate":0,"AverageMAE":0,"AverageMFE":0,"LargestMAE":0,"LargestMFE":0,"MaximumClosedTradeDrawdown":0,"MaximumIntraTradeDrawdown":0,"ProfitLossStandardDeviation":0,"ProfitLossDownsideDeviation":0,"ProfitFactor":0,"SharpeRatio":0,"SortinoRatio":0,"ProfitToMaxDrawdownRatio":0,"MaximumEndTradeDrawdown":0,"AverageEndTradeDrawdown":0,"MaximumDrawdownDuration":"00:00:00","TotalFees":0},"PortfolioStatistics":{"AverageWinRate":0,"AverageLossRate":0,"ProfitLossRatio":0,"WinRate":0,"LossRate":0,"Expectancy":0,"CompoundingAnnualReturn":1.1751139515953,"Drawdown":0.015,"TotalNetProfit":0.067372791313098,"SharpeRatio":6.4684584029914,"Alpha":1.4602190306159,"Beta":-41.053628216048,"AnnualStandardDeviation":0.11150769570858,"AnnualVariance":0.012433966202236,"InformationRatio":6.294861378054,"TrackingError":0.11172344545276,"TreynorRatio":-0.017569284924308},"ClosedTrades":[]},"M1_20160430":{"TradeStatistics":{"StartDateTime":null,"EndDateTime":null,"TotalNumberOfTrades":0,"NumberOfWinningTrades":0,"NumberOfLosingTrades":0,"TotalProfitLoss":0,"TotalProfit":0,"TotalLoss":0,"LargestProfit":0,"LargestLoss":0,"AverageProfitLoss":0,"AverageProfit":0,"AverageLoss":0,"AverageTradeDuration":"00:00:00","AverageWinningTradeDuration":"00:00:00","AverageLosingTradeDuration":"00:00:00","MaxConsecutiveWinningTrades":0,"MaxConsecutiveLosingTrades":0,"ProfitLossRatio":0,"WinLossRatio":0,"WinRate":0,"LossRate":0,"AverageMAE":0,"AverageMFE":0,"LargestMAE":0,"LargestMFE":0,"MaximumClosedTradeDrawdown":0,"MaximumIntraTradeDrawdown":0,"ProfitLossStandardDeviation":0,"ProfitLossDownsideDeviation":0,"ProfitFactor":0,"SharpeRatio":0,"SortinoRatio":0,"ProfitToMaxDrawdownRatio":0,"MaximumEndTradeDrawdown":0,"AverageEndTradeDrawdown":0,"MaximumDrawdownDuration":"00:00:00","TotalFees":0},"PortfolioStatistics":{"AverageWinRate":0,"AverageLossRate":0,"ProfitLossRatio":0,"WinRate":0,"LossRate":0,"Expectancy":0,"CompoundingAnnualReturn":0.04906499128817,"Drawdown":0.024,"TotalNetProfit":0.0037690378435783,"SharpeRatio":0.49147070763657,"Alpha":0.24985930207047,"Beta":-10.857121917017,"AnnualStandardDeviation":0.10193072144809,"AnnualVariance":0.010389871974929,"InformationRatio":0.31077470127522,"TrackingError":0.10199245093826,"TreynorRatio":-0.0046141108281637},"ClosedTrades":[]},"M1_20160531":{"TradeStatistics":{"StartDateTime":null,"EndDateTime":null,"TotalNumberOfTrades":0,"NumberOfWinningTrades":0,"NumberOfLosingTrades":0,"TotalProfitLoss":0,"TotalProfit":0,"TotalLoss":0,"LargestProfit":0,"LargestLoss":0,"AverageProfitLoss":0,"AverageProfit":0,"AverageLoss":0,"AverageTradeDuration":"00:00:00","AverageWinningTradeDuration":"00:00:00","AverageLosingTradeDuration":"00:00:00","MaxConsecutiveWinningTrades":0,"MaxConsecutiveLosingTrades":0,"ProfitLossRatio":0,"WinLossRatio":0,"WinRate":0,"LossRate":0,"AverageMAE":0,"AverageMFE":0,"LargestMAE":0,"LargestMFE":0,"MaximumClosedTradeDrawdown":0,"MaximumIntraTradeDrawdown":0,"ProfitLossStandardDeviation":0,"ProfitLossDownsideDeviation":0,"ProfitFactor":0,"SharpeRatio":0,"SortinoRatio":0,"ProfitToMaxDrawdownRatio":0,"MaximumEndTradeDrawdown":0,"AverageEndTradeDrawdown":0,"MaximumDrawdownDuration":"00:00:00","TotalFees":0},"PortfolioStatistics":{"AverageWinRate":0,"AverageLossRate":0,"ProfitLossRatio":0,"WinRate":0,"LossRate":0,"Expectancy":0,"CompoundingAnnualReturn":0.23324268434117,"Drawdown":0.022,"TotalNetProfit":0.017185809778244,"SharpeRatio":1.934220449325,"Alpha":0.21726398433701,"Beta":-0.37195953334066,"AnnualStandardDeviation":0.10866172752612,"AnnualVariance":0.011807371028961,"InformationRatio":1.7587528504315,"TrackingError":0.10866747416047,"TreynorRatio":-0.56505000302683},"ClosedTrades":[]},"M1_20160630":{"TradeStatistics":{"StartDateTime":null,"EndDateTime":null,"TotalNumberOfTrades":0,"NumberOfWinningTrades":0,"NumberOfLosingTrades":0,"TotalProfitLoss":0,"TotalProfit":0,"TotalLoss":0,"LargestProfit":0,"LargestLoss":0,"AverageProfitLoss":0,"AverageProfit":0,"AverageLoss":0,"AverageTradeDuration":"00:00:00","AverageWinningTradeDuration":"00:00:00","AverageLosingTradeDuration":"00:00:00","MaxConsecutiveWinningTrades":0,"MaxConsecutiveLosingTrades":0,"ProfitLossRatio":0,"WinLossRatio":0,"WinRate":0,"LossRate":0,"AverageMAE":0,"AverageMFE":0,"LargestMAE":0,"LargestMFE":0,"MaximumClosedTradeDrawdown":0,"MaximumIntraTradeDrawdown":0,"ProfitLossStandardDeviation":0,"ProfitLossDownsideDeviation":0,"ProfitFactor":0,"SharpeRatio":0,"SortinoRatio":0,"ProfitToMaxDrawdownRatio":0,"MaximumEndTradeDrawdown":0,"AverageEndTradeDrawdown":0,"MaximumDrawdownDuration":"00:00:00","TotalFees":0},"PortfolioStatistics":{"AverageWinRate":0,"AverageLossRate":0,"ProfitLossRatio":0,"WinRate":0,"LossRate":0,"Expectancy":0,"CompoundingAnnualReturn":0.041001159633619,"Drawdown":0.056,"TotalNetProfit":0.0032713469034975,"SharpeRatio":0.29141814296542,"Alpha":0.77160469945125,"Beta":-39.456907846962,"AnnualStandardDeviation":0.18487743168611,"AnnualVariance":0.034179664746852,"InformationRatio":0.19290783433534,"TrackingError":0.18499229368615,"TreynorRatio":-0.0013654551448164},"ClosedTrades":[]},"M1_20160731":{"TradeStatistics":{"StartDateTime":null,"EndDateTime":null,"TotalNumberOfTrades":0,"NumberOfWinningTrades":0,"NumberOfLosingTrades":0,"TotalProfitLoss":0,"TotalProfit":0,"TotalLoss":0,"LargestProfit":0,"LargestLoss":0,"AverageProfitLoss":0,"AverageProfit":0,"AverageLoss":0,"AverageTradeDuration":"00:00:00","AverageWinningTradeDuration":"00:00:00","AverageLosingTradeDuration":"00:00:00","MaxConsecutiveWinningTrades":0,"MaxConsecutiveLosingTrades":0,"ProfitLossRatio":0,"WinLossRatio":0,"WinRate":0,"LossRate":0,"AverageMAE":0,"AverageMFE":0,"LargestMAE":0,"LargestMFE":0,"MaximumClosedTradeDrawdown":0,"MaximumIntraTradeDrawdown":0,"ProfitLossStandardDeviation":0,"ProfitLossDownsideDeviation":0,"ProfitFactor":0,"SharpeRatio":0,"SortinoRatio":0,"ProfitToMaxDrawdownRatio":0,"MaximumEndTradeDrawdown":0,"AverageEndTradeDrawdown":0,"MaximumDrawdownDuration":"00:00:00","TotalFees":0},"PortfolioStatistics":{"AverageWinRate":0,"AverageLossRate":0,"ProfitLossRatio":0,"WinRate":0,"LossRate":0,"Expectancy":0,"CompoundingAnnualReturn":0.57227171101774,"Drawdown":0.01,"TotalNetProfit":0.036179615862481,"SharpeRatio":6.122588511634,"Alpha":0.98273370612687,"Beta":-27.535110059271,"AnnualStandardDeviation":0.073624437547853,"AnnualVariance":0.0054205578042378,"InformationRatio":5.8376500147969,"TrackingError":0.073908634970327,"TreynorRatio":-0.016370812919784},"ClosedTrades":[]},"M1_20160831":{"TradeStatistics":{"StartDateTime":null,"EndDateTime":null,"TotalNumberOfTrades":0,"NumberOfWinningTrades":0,"NumberOfLosingTrades":0,"TotalProfitLoss":0,"TotalProfit":0,"TotalLoss":0,"LargestProfit":0,"LargestLoss":0,"AverageProfitLoss":0,"AverageProfit":0,"AverageLoss":0,"AverageTradeDuration":"00:00:00","AverageWinningTradeDuration":"00:00:00","AverageLosingTradeDuration":"00:00:00","MaxConsecutiveWinningTrades":0,"MaxConsecutiveLosingTrades":0,"ProfitLossRatio":0,"WinLossRatio":0,"WinRate":0,"LossRate":0,"AverageMAE":0,"AverageMFE":0,"LargestMAE":0,"LargestMFE":0,"MaximumClosedTradeDrawdown":0,"MaximumIntraTradeDrawdown":0,"ProfitLossStandardDeviation":0,"ProfitLossDownsideDeviation":0,"ProfitFactor":0,"SharpeRatio":0,"SortinoRatio":0,"ProfitToMaxDrawdownRatio":0,"MaximumEndTradeDrawdown":0,"AverageEndTradeDrawdown":0,"MaximumDrawdownDuration":"00:00:00","TotalFees":0},"PortfolioStatistics":{"AverageWinRate":0,"AverageLossRate":0,"ProfitLossRatio":0,"WinRate":0,"LossRate":0,"Expectancy":0,"CompoundingAnnualReturn":0.014253507812113,"Drawdown":0.012,"TotalNetProfit":0.0011898078171231,"SharpeRatio":0.26590538440111,"Alpha":-0.31989493668155,"Beta":18.57475190592,"AnnualStandardDeviation":0.05429636893097,"AnnualVariance":0.002948095679088,"InformationRatio":-0.065802092041633,"TrackingError":0.054126069621913,"TreynorRatio":0.00077727535340984},"ClosedTrades":[]},"M1_20160930":{"TradeStatistics":{"StartDateTime":null,"EndDateTime":null,"TotalNumberOfTrades":0,"NumberOfWinningTrades":0,"NumberOfLosingTrades":0,"TotalProfitLoss":0,"TotalProfit":0,"TotalLoss":0,"LargestProfit":0,"LargestLoss":0,"AverageProfitLoss":0,"AverageProfit":0,"AverageLoss":0,"AverageTradeDuration":"00:00:00","AverageWinningTradeDuration":"00:00:00","AverageLosingTradeDuration":"00:00:00","MaxConsecutiveWinningTrades":0,"MaxConsecutiveLosingTrades":0,"ProfitLossRatio":0,"WinLossRatio":0,"WinRate":0,"LossRate":0,"AverageMAE":0,"AverageMFE":0,"LargestMAE":0,"LargestMFE":0,"MaximumClosedTradeDrawdown":0,"MaximumIntraTradeDrawdown":0,"ProfitLossStandardDeviation":0,"ProfitLossDownsideDeviation":0,"ProfitFactor":0,"SharpeRatio":0,"SortinoRatio":0,"ProfitToMaxDrawdownRatio":0,"MaximumEndTradeDrawdown":0,"AverageEndTradeDrawdown":0,"MaximumDrawdownDuration":"00:00:00","TotalFees":0},"PortfolioStatistics":{"AverageWinRate":0,"AverageLossRate":0,"ProfitLossRatio":0,"WinRate":0,"LossRate":0,"Expectancy":0,"CompoundingAnnualReturn":0.003998189551681,"Drawdown":0.03,"TotalNetProfit":0.00032437168835113,"SharpeRatio":0.095281568996254,"Alpha":-0.38538601303208,"Beta":20.931798835648,"AnnualStandardDeviation":0.141699500357,"AnnualVariance":0.020078748401423,"InformationRatio":-0.039232515991681,"TrackingError":0.14159619645514,"TreynorRatio":0.0006450162657309},"ClosedTrades":[]},"M1_20161031":{"TradeStatistics":{"StartDateTime":null,"EndDateTime":null,"TotalNumberOfTrades":0,"NumberOfWinningTrades":0,"NumberOfLosingTrades":0,"TotalProfitLoss":0,"TotalProfit":0,"TotalLoss":0,"LargestProfit":0,"LargestLoss":0,"AverageProfitLoss":0,"AverageProfit":0,"AverageLoss":0,"AverageTradeDuration":"00:00:00","AverageWinningTradeDuration":"00:00:00","AverageLosingTradeDuration":"00:00:00","MaxConsecutiveWinningTrades":0,"MaxConsecutiveLosingTrades":0,"ProfitLossRatio":0,"WinLossRatio":0,"WinRate":0,"LossRate":0,"AverageMAE":0,"AverageMFE":0,"LargestMAE":0,"LargestMFE":0,"MaximumClosedTradeDrawdown":0,"MaximumIntraTradeDrawdown":0,"ProfitLossStandardDeviation":0,"ProfitLossDownsideDeviation":0,"ProfitFactor":0,"SharpeRatio":0,"SortinoRatio":0,"ProfitToMaxDrawdownRatio":0,"MaximumEndTradeDrawdown":0,"AverageEndTradeDrawdown":0,"MaximumDrawdownDuration":"00:00:00","TotalFees":0},"PortfolioStatistics":{"AverageWinRate":0,"AverageLossRate":0,"ProfitLossRatio":0,"WinRate":0,"LossRate":0,"Expectancy":0,"CompoundingAnnualReturn":-0.20366591392398,"Drawdown":0.02,"TotalNetProfit":-0.017727144579906,"SharpeRatio":-3.260086048564,"Alpha":-0.68775308208054,"Beta":25.829241467165,"AnnualStandardDeviation":0.065186670681165,"AnnualVariance":0.0042493020344947,"InformationRatio":-3.5541013593236,"TrackingError":0.064970970769114,"TreynorRatio":-0.0082276576302154},"ClosedTrades":[]},"M1_20161130":{"TradeStatistics":{"StartDateTime":null,"EndDateTime":null,"TotalNumberOfTrades":0,"NumberOfWinningTrades":0,"NumberOfLosingTrades":0,"TotalProfitLoss":0,"TotalProfit":0,"TotalLoss":0,"LargestProfit":0,"LargestLoss":0,"AverageProfitLoss":0,"AverageProfit":0,"AverageLoss":0,"AverageTradeDuration":"00:00:00","AverageWinningTradeDuration":"00:00:00","AverageLosingTradeDuration":"00:00:00","MaxConsecutiveWinningTrades":0,"MaxConsecutiveLosingTrades":0,"ProfitLossRatio":0,"WinLossRatio":0,"WinRate":0,"LossRate":0,"AverageMAE":0,"AverageMFE":0,"LargestMAE":0,"LargestMFE":0,"MaximumClosedTradeDrawdown":0,"MaximumIntraTradeDrawdown":0,"ProfitLossStandardDeviation":0,"ProfitLossDownsideDeviation":0,"ProfitFactor":0,"SharpeRatio":0,"SortinoRatio":0,"ProfitToMaxDrawdownRatio":0,"MaximumEndTradeDrawdown":0,"AverageEndTradeDrawdown":0,"MaximumDrawdownDuration":"00:00:00","TotalFees":0},"PortfolioStatistics":{"AverageWinRate":0,"AverageLossRate":0,"ProfitLossRatio":0,"WinRate":0,"LossRate":0,"Expectancy":0,"CompoundingAnnualReturn":0.55540838597556,"Drawdown":0.021,"TotalNetProfit":0.036608428020626,"SharpeRatio":4.1172836223816,"Alpha":0.27684395459497,"Beta":7.707024066267,"AnnualStandardDeviation":0.10128914167546,"AnnualVariance":0.010259490221351,"InformationRatio":3.9389690157636,"TrackingError":0.10125643046828,"TreynorRatio":0.054111174502593},"ClosedTrades":[]},"M1_20161231":{"TradeStatistics":{"StartDateTime":null,"EndDateTime":null,"TotalNumberOfTrades":0,"NumberOfWinningTrades":0,"NumberOfLosingTrades":0,"TotalProfitLoss":0,"TotalProfit":0,"TotalLoss":0,"LargestProfit":0,"LargestLoss":0,"AverageProfitLoss":0,"AverageProfit":0,"AverageLoss":0,"AverageTradeDuration":"00:00:00","AverageWinningTradeDuration":"00:00:00","AverageLosingTradeDuration":"00:00:00","MaxConsecutiveWinningTrades":0,"MaxConsecutiveLosingTrades":0,"ProfitLossRatio":0,"WinLossRatio":0,"WinRate":0,"LossRate":0,"AverageMAE":0,"AverageMFE":0,"LargestMAE":0,"LargestMFE":0,"MaximumClosedTradeDrawdown":0,"MaximumIntraTradeDrawdown":0,"ProfitLossStandar
[...]
