---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510484472'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YjA4NWIzYWQ2OWQ0YTBmMWFkZjRhZDRkMmNhMGFjMmFiYjY1NjgxOTcxODMyZWY5YTQwODAxNjIzY2RkODI4ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816912","name":"my project","modified":"2017-11-12
        11:01:08","created":"2017-11-12 11:01:08","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P816912-9294e50716f6f7ee0da79a839017d753","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"799895","name":"My
        first C# project","modified":"2017-11-10 13:51:31","created":"2017-11-04 23:02:19","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P799895-853c8c787799c4642c9c8b5181581a69","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2402","sref":"refs\/heads\/master","slean":"5f238a5727c77f7b75fb24370c07f99fbcf521fe","sleancloud":"fe358c1589e9ea11d5f9828f7e67120c987111ae","sdescription":"Merge
        pull request #1298 from andrewhart098\/aggregating-consolidators<br\/>TickAggregator","sname":"master","bpublic":"1","itimestamp":"2017-11-10
        22:31:04"}],"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:01:13 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=816912
    headers:
      Timestamp:
      - '1510484473'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6OGJlNDZkMjg2NjVkZTQ1MmNkOTc1OWFkZDEwMGQ3NWNjYzMwYTZiMThjMzM5Yjg5OGRiNjhmZDk1MGI5NGY1Mw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:01:14 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1510484474'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZDIyZjQ0MWY0YjQxODgxMmZlZWUyOTY1NDQ3MGUxOGEyZTZiN2JlOWJkNjQ5ZTk3OTRiZDVhMTkyZDhjYTQ4Ng==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816913","name":"my project","created":"2017-11-12
        11:01:15","modified":"2017-11-12 11:01:15"}],"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:01:16 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510484476'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YzdkMWI2NmY2N2Y1OGY2NWY0MDQ4NjZhZTVkYjgzMWI0ODI1ZjVmMmZmM2YwMThkYWFjYTBlZDdjOTBlZjY2MQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:01:16 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=816913&name=AlgoThatWontCompile.cs&content=this+is+not+valid+csharp+BUAHAHAHA%0A
    headers:
      Timestamp:
      - '1510484477'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6Y2ZmYTY1ZDVlYWViZWE3OWM3MGEyYzI3OTQ3Yjk5MGY3YmQ4ZjE5YzlkNThjZDZjZjBkZGUzZGZhNGFiNzM0NQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["File not found ''name''=AlgoThatWontCompile.cs"],"success":false}'
  recorded_at: Sun, 12 Nov 2017 11:01:18 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=816913&name=AlgoThatWontCompile.cs&content=this+is+not+valid+csharp+BUAHAHAHA%0A
    headers:
      Timestamp:
      - '1510484478'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NmEwNGIzZDJkNjgwYTc2NTY5NDgxZGEyOWJlZGM3Mjg5YjM0ODY4OTYwYWZkYzJhY2Q2MmVhNGJlZTQ0OGVmMQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"AlgoThatWontCompile.cs","content":"this is not valid
        csharp BUAHAHAHA","modified":"2017-11-12 11:01:19"}],"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:01:20 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/compile/create
    body:
      encoding: UTF-8
      string: projectId=816913
    headers:
      Timestamp:
      - '1510484480'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NTU0ZDA3ZmE3ODk1YWQyYTdkNzRiOGI2Mjk5NmQzOTA2NjliYWJjZWI0NzBjNjk1OWYwODE2NzNkNjk3NzA1OA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"compileId":"727fa1b07b9ed30533ef58e6c7df173d-1be39c2d29df6f3979c9b92c25774636","state":"InQueue","success":true}'
  recorded_at: Sun, 12 Nov 2017 11:01:20 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/compile/read?compileId=727fa1b07b9ed30533ef58e6c7df173d-1be39c2d29df6f3979c9b92c25774636&projectId=816913
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510484480'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NTU0ZDA3ZmE3ODk1YWQyYTdkNzRiOGI2Mjk5NmQzOTA2NjliYWJjZWI0NzBjNjk1OWYwODE2NzNkNjk3NzA1OA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"compileId":"727fa1b07b9ed30533ef58e6c7df173d-1be39c2d29df6f3979c9b92c25774636","state":"BuildError","logs":["Error
        AlgoThatWontCompile.cs Line: 1 Column: 871 - Type expected","Error AlgoThatWontCompile.cs
        Line: 1 Column: 876 - Syntax error, ''['' expected","Error AlgoThatWontCompile.cs
        Line: 1 Column: 876 - Identifier expected; ''is'' is a keyword","Error AlgoThatWontCompile.cs
        Line: 1 Column: 889 - Syntax error, '','' expected","Error AlgoThatWontCompile.cs
        Line: 1 Column: 915 - Syntax error, '','' expected"],"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:01:21 GMT
recorded_with: VCR 3.0.3
