---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510437781'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZDY4MGM3NmUyN2YxNDE0ZTBlYzAzNzYyZDM1YWJiZDZkZTY0ODFlY2I5ZjNlMDk0NGYyMzRjY2E2YmIwZmFjYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816037","name":"my project","modified":"2017-11-11
        22:02:54","created":"2017-11-11 22:02:54","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P816037-f02ee360ee14b48076ae2c009cd343e1","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"799895","name":"My
        first C# project","modified":"2017-11-10 13:51:31","created":"2017-11-04 23:02:19","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P799895-853c8c787799c4642c9c8b5181581a69","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2402","sref":"refs\/heads\/master","slean":"5f238a5727c77f7b75fb24370c07f99fbcf521fe","sleancloud":"fe358c1589e9ea11d5f9828f7e67120c987111ae","sdescription":"Merge
        pull request #1298 from andrewhart098\/aggregating-consolidators<br\/>TickAggregator","sname":"master","bpublic":"1","itimestamp":"2017-11-10
        22:31:04"}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:03:01 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=816037
    headers:
      Timestamp:
      - '1510437781'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZDY4MGM3NmUyN2YxNDE0ZTBlYzAzNzYyZDM1YWJiZDZkZTY0ODFlY2I5ZjNlMDk0NGYyMzRjY2E2YmIwZmFjYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:03:03 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1510437783'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6YTY4MmE0ODkxOWY5ZmQzMTIxMWZmNWUzYjlmZDU5M2I3ZmQ5YTUxN2EwM2ExZWQzZjVkNDVmYjU0Zjk3YjM2Yw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816039","name":"my project","created":"2017-11-11
        22:03:04","modified":"2017-11-11 22:03:04"}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:03:05 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510437785'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6OTU3MWNmOWQ0ZjU2MTM4YTBlN2E3MWY1NzU0MTRhMzU3ODViNTE2NGNhYjhlYmIxYTM5NWRhNjIzZjgxNDBmMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:03:06 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=816039&name=file_1.cs&content=file+1+contents...%0A
    headers:
      Timestamp:
      - '1510437787'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MDk1NmE3MGQyYjY5MzQzNmU2M2U0ZDUwMmIyMjA5NWIzMDkxMDQ5NDFhMmNjNTZhYTBiODZkOTc1MTg4MDJkZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["File not found ''name''=file_1.cs"],"success":false}'
  recorded_at: Sat, 11 Nov 2017 22:03:07 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=816039&name=file_1.cs&content=file+1+contents...%0A
    headers:
      Timestamp:
      - '1510437787'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MDk1NmE3MGQyYjY5MzQzNmU2M2U0ZDUwMmIyMjA5NWIzMDkxMDQ5NDFhMmNjNTZhYTBiODZkOTc1MTg4MDJkZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_1.cs","content":"file 1 contents...","modified":"2017-11-11
        22:03:08"}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:03:08 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/read
    body:
      encoding: UTF-8
      string: projectId=816039&name=file_1.cs
    headers:
      Timestamp:
      - '1510437790'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ODRlZGJjNGJkYTQ1NWRmY2NjYTU3ZjNhNzI3YjE2MWZjM2NhYjRjMTA1MGRmNGMzYzI0ZDU4ZjUyNTI4ZDkyYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_1.cs","content":"file 1 contents...","modified":"2017-11-11
        22:03:08","open":false}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:03:11 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/read
    body:
      encoding: UTF-8
      string: projectId=816039&name=file_2.cs
    headers:
      Timestamp:
      - '1510437791'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NzJjYTc1Nzc5OTVlNDNmOGZlOTQyMDU5MjUzODMyNjQ5YTU1Y2Y5MzAwYzY5YWFmMjIyMDhlZGEyZDBjNDY3YQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_2.cs","content":"file 2 contents...","modified":"2017-11-11
        22:03:10","open":false}],"success":true}'
  recorded_at: Sat, 11 Nov 2017 22:03:12 GMT
recorded_with: VCR 3.0.3
