---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1514221658'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6Nzk1YmMyM2FlM2ExMjYzNWI1YjNlMWEyYjFhZDA5MjdjODk4NzRlZGY5NmNlNDY3MjdjODI4MmU4OWEzY2NlMg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"947474","name":"my project","modified":"2017-12-25
        17:07:32","created":"2017-12-25 17:07:32","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2731","owner":true,"channelId":"P947474-d753b381682cc5907dc6548ef11d5d85","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"947315","name":"
        Basic Template Algorithm","modified":"2017-12-25 15:33:29","created":"2017-12-25
        15:32:15","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2731","owner":true,"channelId":"P947315-f1344c670c20c42f306bf09e7b542bb3","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2731","sref":"refs\/heads\/master","slean":"721972c6b67ffd87efee0a8f01f0addf28426c31","sleancloud":"d66d27cb78b3fe9feb83545783c50588a4518b22","sdescription":"Merge
        pull request #1432 from StefanoRaggi\/ib-moc-fix<br\/>Fix IB error with Market
        On Close (MOC) orders","sname":"master","bpublic":"1","itimestamp":"2017-12-23
        00:48:34"}],"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:07:39 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=947474
    headers:
      Timestamp:
      - '1514221659'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MjU0YzJiYTA5YWE3Y2VlOGRkNjBhMGM2Yjk0ZjIxOTYyYjgzMjFhODgwMTQwMTA4MTNmNjYwMjFiMGU5YzczYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:07:40 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1514221660'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZjZkNDk3NDlmZDM2MmY4MjRjYWZmMmIwYTg1ZDQxZDg3NjVmOGJmMDUzNWRiM2ZkMzM0MTA1ZDQ0ZDZkYTdlYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"947476","name":"my project","created":"2017-12-25
        17:07:42","modified":"2017-12-25 17:07:42"}],"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:07:43 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1514221663'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZTM3MTg2YzE3NjJhYzU1ZmJjNzdhN2M3YTRlODFlNzQyOTJjODkwNWJlNDFkNGQ3ODE5YTQwZDI2ODk4M2Y1Mw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:07:44 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=947476&name=file_1.cs&content=file+1+contents...
    headers:
      Timestamp:
      - '1514221666'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NTQyZjg2NmNkY2RkZDNmOWY0MTMxM2Q1Y2UyZWY5OTU0ODZmZTZmNzI4NzMxNjJmZmU4ZmNmODliOTFmMzU5Ng==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["File not found ''name''=file_1.cs"],"success":false}'
  recorded_at: Mon, 25 Dec 2017 17:07:47 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=947476&name=file_1.cs&content=file+1+contents...
    headers:
      Timestamp:
      - '1514221667'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZTE2ZTU2NWQ5NzdiMzliMGNmMDA0YTRlNTIzNzEzNjExMjgzNTVmZWJhMjc2YzVkZTFhNjUwZjQ5MDc2ZDA2OA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_1.cs","content":"file 1 contents...","modified":"2017-12-25
        17:07:48"}],"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:07:48 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=947476&name=file_2.cs&content=file+2+contents...
    headers:
      Timestamp:
      - '1514221668'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MDBkOTQ0YjczODM1MzUyYWE3MTQxNWYxMmI2ZjgzNDJiZjYwZDQ3NmIzMzZlZmE5NzFhMzFhMDIxOWE3ODE1Nw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"files":[{"name":"file_2.cs","content":"file 2 contents...","modified":"2017-12-25
        17:07:54"}],"success":true}'
  recorded_at: Mon, 25 Dec 2017 17:07:53 GMT
recorded_with: VCR 3.0.3
