---
http_interactions:
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/projects/read
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510484426'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZmNmNzIyMzk2MGMwYWM0OTMwYzM2OTkyZTcyYTBhY2Y3NGY5MzYwZDZkY2RmMTdhNTkwOGNiNjJiNWJmN2NmYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816905","name":"my project","modified":"2017-11-12
        10:59:56","created":"2017-11-12 10:59:56","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P816905-b235ce22e4244f763ffb81ccc72790fd","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]},{"projectId":"799895","name":"My
        first C# project","modified":"2017-11-10 13:51:31","created":"2017-11-04 23:02:19","ownerId":"41687","language":"C#","collaborators":[{"id":0,"uid":"41687","blivecontrol":true,"epermission":"write","profileimage":"https:\/\/cdn.quantconnect.com\/web\/i\/users\/profile\/default.jpg","name":"Quantconnect
        Test User"}],"leanVersionId":"2402","owner":true,"channelId":"P799895-853c8c787799c4642c9c8b5181581a69","parameters":[],"liveResults":{"eStatus":"Undefined","sDeployID":null,"sServerType":null,"dtLaunched":null,"dtStopped":null,"sBrokerage":null,"sSecurityTypes":null,"dUnrealized":null,"dfees":null,"dnetprofit":null,"dEquity":null,"dHoldings":null,"dCapital":null,"dVolume":null,"iTrades":null,"sErrorMessage":null},"libraries":[]}],"versions":[{"id":"2402","sref":"refs\/heads\/master","slean":"5f238a5727c77f7b75fb24370c07f99fbcf521fe","sleancloud":"fe358c1589e9ea11d5f9828f7e67120c987111ae","sdescription":"Merge
        pull request #1298 from andrewhart098\/aggregating-consolidators<br\/>TickAggregator","sname":"master","bpublic":"1","itimestamp":"2017-11-10
        22:31:04"}],"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:00:26 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/delete
    body:
      encoding: UTF-8
      string: projectId=816905
    headers:
      Timestamp:
      - '1510484426'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZmNmNzIyMzk2MGMwYWM0OTMwYzM2OTkyZTcyYTBhY2Y3NGY5MzYwZDZkY2RmMTdhNTkwOGNiNjJiNWJmN2NmYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:00:27 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/projects/create
    body:
      encoding: UTF-8
      string: name=my+project&language=C%23
    headers:
      Timestamp:
      - '1510484427'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6MDU5ZWIzZGIyOWJkODFiZTViMjgwYmQ0ZjYzNGQ3OWQzYjdlNDUyOWQ2ZWI1OWUzOWEzZjM1ZTFlZTdiMzkzYw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":"816908","name":"my project","created":"2017-11-12
        11:00:31","modified":"2017-11-12 11:00:31"}],"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:00:33 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/authenticate
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510484433'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6OTBiMDU5YzFlNzQ3NGZkZWMzYTBjYjkyNjEyOTFlMzhhMjMzOTIyNmMwMWVlMjQ4YWMxOTFhYzJjZTUzNDU3Nw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:00:34 GMT
[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/update
    body:
      encoding: UTF-8
      string: projectId=816908&name=BasicAlgo.cs&content=namespace+QuantConnect%0A%7B%0A++++%2F*%0A++++*+++Basic+Template+Algorithm%0A++++*%0A++++*+++The+underlying+QCAlgorithm+class+has+many+methods+which+enable+you+to+use+QuantConnect.%0A++++*+++We+have+explained+some+of+these+here%2C+but+the+full+base+class+can+be+found+at%3A%0A++++*+++https%3A%2F%2Fgithub.com%2FQuantConnect%2[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/files/create
    body:
      encoding: UTF-8
      string: projectId=816908&name=BasicAlgo.cs&content=namespace+QuantConnect%0A%7B%0A++++%2F*%0A++++*+++Basic+Template+Algorithm%0A++++*%0A++++*+++The+underlying+QCAlgorithm+class+has+many+methods+which+enable+you+to+use+QuantConnect.%0A++++*+++We+have+explained+some+of+these+here%2C+but+the+full+base+class+can+be+found+at%3A%0A++++*+++https%3A%2F%2Fgithub.com%2FQuantConnect%2[...]
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/compile/create
    body:
      encoding: UTF-8
      string: projectId=816908
    headers:
      Timestamp:
      - '1510484437'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NWI1NTdmMWY5ZDcyMDhmYjc3MDk5OTk4ZDcwZGY3YTVhYzlhZmQ1MDk4NjE3ZjM4M2RlNGI5ZjU0ZGVmZGRhZg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"compileId":"796164019219a1d9f54a644afc7a2f66-dc68bfd0e7cbe7b7633a21ced301def5","state":"InQueue","success":true}'
  recorded_at: Sun, 12 Nov 2017 11:00:38 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/compile/read?compileId=796164019219a1d9f54a644afc7a2f66-dc68bfd0e7cbe7b7633a21ced301def5&projectId=816908
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510484438'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6Y2FlNDI3NDFkY2YzODVlYzZiMjY2N2M2ZTYzZDdjZTViOGFlMDQzNWYxNDM1OGY4MzI4ZTM1YzY1ZTUxMDM2NQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"compileId":"796164019219a1d9f54a644afc7a2f66-dc68bfd0e7cbe7b7633a21ced301def5","state":"BuildSuccess","logs":["Build
        Request Successful for Project ID: 816908, with CompileID: 796164019219a1d9f54a644afc7a2f66-dc68bfd0e7cbe7b7633a21ced301def5,
        Lean Version: 2.4.0.1.2402"],"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:00:39 GMT
- request:
    method: post
    uri: https://www.quantconnect.com/api/v2/backtests/create
    body:
      encoding: UTF-8
      string: projectId=816908&compileId=796164019219a1d9f54a644afc7a2f66-dc68bfd0e7cbe7b7633a21ced301def5&backtestName=backtest-796164019219a1d9f54a644afc7a2f66-dc68bfd0e7cbe7b7633a21ced301def5
    headers:
      Timestamp:
      - '1510484439'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6NWVkNTRhMjM2YTAzZTEwODU0MzQ4NzhiZDg4NjcyYzVlYzM3YTE4MjEwMzBmNTBmYTY2MTdmNTRmM2NhMzgwNQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"backtestId":"14b470a0887b9d9d022005e9ecb93ef3","name":"backtest-796164019219a1d9f54a644afc7a2f66-dc68bfd0e7cbe7b7633a21ced301def5","completed":false,"progress":0,"result":null,"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:00:43 GMT
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/backtests/read?compileId=14b470a0887b9d9d022005e9ecb93ef3&projectId=816908
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510484443'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6ZWNlYmNkNjY2MzgwZWQ5YTY4ODQ0MDJjY2I2MzE2M2IzYWQyNzllYTQzN2RmZmZjYWJlNzBhMDk4MGM4ZGExNA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"backtests":[{"backtestId":"14b470a0887b9d9d022005e9ecb93ef3","name":"backtest-796164019219a1d9f54a644afc7a2f66-dc68bfd0e7cbe7b7633a21ced301def5","note":null,"completed":false,"progress":"0","result":null}],"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:00:44 GMT
[...]
- request:
    method: get
    uri: https://www.quantconnect.com/api/v2/backtests/read?compileId=14b470a0887b9d9d022005e9ecb93ef3&projectId=816908
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Timestamp:
      - '1510484453'
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NDE2ODc6M2Q2M2UxNDk0ODc0OGQxOGFkMmYxYzNiYTgyOTYxOGU4YmMwYWYyNGY4YzQ0Njk3ZDNmNWJiYTE0OTM5NGJhMA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"backtests":[{"backtestId":"14b470a0887b9d9d022005e9ecb93ef3","name":"backtest-796164019219a1d9f54a644afc7a2f66-dc68bfd0e7cbe7b7633a21ced301def5","note":null,"completed":true,"progress":"0.16","result":null}],"success":true}'
  recorded_at: Sun, 12 Nov 2017 11:00:55 GMT
recorded_with: VCR 3.0.3
